title = "Cast On Demand"
description = "Cast on demand"
url = "/castondemand"
==
use palvlab\Hotelcms\Models\User;
use palvlab\Hotelcms\Models\CastOnDemandChannel;
use palvlab\Hotelcms\Models\TvChannel;

function onStart(){
    $this->addJs(env("NODE_SERVER")."/socket.io/socket.io.js");
    $this->websocket = env("NODE_SERVER");
}

function onConnect(){
    $_status = 0;
    $user = User::select('id','user_room_no')->where('user_passcode', input('passcode'))->first();
    if(!empty($user->id)){
        $rooms = $user->user_room_no;
        $websocket = env("NODE_SERVER");
        $method = "connectCastOnDemand";
        $socketMethod = "any";
        $_cast = CastOnDemandChannel::select('current_rule_id','guest_ip_address')->where('passcode','=',input('passcode'))->first();
        $_ch = TvChannel::leftJoin('palvlab_hotelcms_cast_on_demand_channel AS cc','cc.channel','=','palvlab_hotelcms_tv_channel.id')->select('tv_channel_number')->where('cc.passcode','=',input('passcode'))->first();
        if(!empty($_cast->guest_ip_address)){
            $_ips = explode(',',$_cast->guest_ip_address);
            $_flag = 0;
            if(!empty($_ips)){
                foreach($_ips as $_ip){
                    $_i = explode('_',$_ip);
                    if(!empty($_i[1])&&$_i[1]==$_SERVER['REMOTE_ADDR']){
                        $_flag=1;
                        $_status = 1;
                    }
                }
            }
            if($_flag==0){
                CastOnDemandChannel::where('passcode','=',input('passcode'))->update([
                    'guest_ip_address'=>$_cast->guest_ip_address.','.((int)$_cast->current_rule_id+1).'_'.$_SERVER['REMOTE_ADDR'],
                    'current_rule_id'=>(int)$_cast->current_rule_id+1
                ]);
                $_status = 3;
            }
        }else{
            CastOnDemandChannel::where('passcode','=',input('passcode'))->update([
                'guest_ip_address'=>'10_'.$_SERVER['REMOTE_ADDR']
            ]);
            $_status = 2;
        }
        return [
            'channel' => !empty($_ch->tv_channel_number)?$_ch->tv_channel_number:'',
            'status' => $_status,
            'room' => $rooms,
            'websocket' => $websocket,
            'socketMethod' => $socketMethod,
            'method' => $method
        ];
        
    }
}
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cast On Demand</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    
    <link href="{{ 'assets'|theme }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ 'assets'|theme }}/css/static2.css" rel="stylesheet">
    <link href="{{ 'assets'|theme }}/css/castondemand.css" rel="stylesheet">
</head>
<body>
	<header class="site-header">
        <!-- Navigation -->
        <div class="top-head">
	        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	        	<div class="container">
		            <a href="#">
		            	<img src="{{ 'assets'|theme }}/images/logo-white.png" height="35" alt="palvision">
		            </a>
	        	</div>
	        </nav>
        </div>
    </header>
    <div class="container">

    	<div class="form-group" style="margin-top: 3em; margin-bottom:5em;color:#8c8c8c;">
            <form  method="post" onsubmit="$(this).request('onConnect', {
                    success: function(response) {
                        console.log(response);
                        if(typeof socket != 'undefined'){
                            if (response.socketMethod) {
                                var data = {
                                    room: response.room,
                                    status: response.status,
                                    ch: response.channel
                                };
                                if(response.status==1){
                                    $.oc.flashMsg({
                                        'text': 'Your device is already authenticated.',
                                        'class': 'warning',
                                        'interval': 3
                                    })
                                }else if(response.status>1){
                                     $.oc.flashMsg({
                                        'text': 'Device authenticated.',
                                        'class': 'success',
                                        'interval': 3
                                    })
                                }else{
                                    $.oc.flashMsg({
                                        'text': 'Device authentication failed.',
                                        'class': 'error',
                                        'interval': 3
                                    })
                                }
                                socket.emit(response.method, data);
                            }
                        }
                    }
                }); return false;">
                <label for="code" style="font-size:22px;color:#333;">Enter the code from your TV:</label>
                <br>
                <small>Make sure to connect to the WI-FI network displayed on the TV before entering the code.</small>
                <br><br>
                <input id="code" name="passcode" type="text" class="form-control" placeholder="Passcode" autofocus=""  style="height: 3em; border-radius: 0;margin-bottom: 50px;" required="">
                <div class="form-group">
                      <!-- <label class="accept-tos-container">
                        <input type="checkbox" id="accept-tos">
                        <span>I accept the <a href="http://www.hotelcast.info/cms/TermsOfService.php" target="_blank">End User License Agreement &amp; Terms of Service</a></span>
                      </label> -->
                    <button class="btn btn-success" type="submit" style="width: 100%; height: 3em; border-radius: 0;"> <span>Connect</span></button>
                    <input type="hidden" id="input-websocket" value="{{ this.page.websocket }}">
                </div>
             </form>
          </div>
    </div>

    <script src="{{ 'assets/js/jquery-3.4.1.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
    <script type="text/javascript">
        let socket;
        $(document).ready(()=>{
            if(typeof io != 'undefined'){
                // socket = io($('#input-websocket').val()+'/device', {
                socket = io('http://18.138.54.66:8010/device', {
                    transports: ['websocket'], 
                    upgrade: false,
                });
            }
        });
    </script>
</body>
</html>