title = "Users - add"
url = "/user/add"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\User;
use palvlab\GuestfoneStaff\Models\Department;
use palvlab\GuestfoneStaff\Models\Job;
use System\Models\File;

function onInit(){
    $department         = Department::get();
    $job                = Job::get();
    

    $this['department'] = $department; 
    $this['job']        = $job; 
    

    //var_dump($department->toArray());
    //var_dump($job->toArray());
    


}

function onTest(){


    $post = new User;

    $file             = new File;
    $file->fromPost(Input::file('profile_image'));
    $file->save();

    
    $post->username         =  input('auth_slug');
    $post->password         =  input('auth_password');
    $post->first_name       =  input('profile_firstname');
    $post->last_name        =  input('profile_lastname');
    $post->email            =  input('profile_email');
    $post->phone_number     =  input('profile_phone');
    $post->birthdate        =  input('profile_birth');
    $post->gender           =  input('profile_gender');
    $post->department_id    =  input('department_id');
    $post->job_id           =  input('job_id');
    

    $save = $post->save();
    if (Input::hasFile('profile_image')) {
        $post->image()->add($file);
    }   
   

    if($save){
      return Redirect::to('/user');
    }
    
}
==
<!-- Page Content Holder -->
<div id="content" data-parent="user" data-current="user">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Create User</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->

                <form data-request="onTest" data-request-files >
                <div class="row">    
                    <div class="form-group col-md-12">
                        <label class="control-label">Image</label>
                        <div>
                            <div data-do="image-field" data-name="profile_image" data-width="200" data-height="200" data-alt="Change this Photo" class="image-field">   
                            <label for="upload-image">
                            <img alt="Upload a Photo" width="100" class="placeholder" src="{{ 'assets/images/default-image.png'|theme }}">  
                            <input type="file" name="profile_image" accept="image/png,image/jpg,image/jpeg,image/gif" id="upload-image" class="d-none"></div>
                            </label>
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Username</label>
                        <div>
                            <input name="auth_slug" value="" placeholder="johndoe" type="text" class="form-control">
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Password</label>
                        <div>
                            <div class="input-group">
                                <input type="password" name="auth_password" value="" placeholder="Password" class="form-control ">
                                <div class="input-group-prepend">
                                <button class="btn bg-white border border-left-0" type="button" data-do="show-pass" data-on="click">
                                    <i class="fas fa-eye"></i>  
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">First Name</label>
                        <div>
                            <input name="profile_firstname" value="" placeholder="John Doe" type="text" class="form-control">
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Last Name</label>
                        <div>
                            <input name="profile_lastname" value="" placeholder="John Doe" type="text" class="form-control">  
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Department</label>
                        <div>
                            <select class="form-control" data-do="show-job-posts" data-on="change" name="department_id">
                                <option>Select Department</option>
                                {% for option in department %}
                                <option value="{{ option.id }}">{{ option.department_name}}</option>
                                {% endfor %}
                                    
                            </select>   
                        </div> 
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6" id="job-title-wrapper">
                        <label class="control-label">Job Title</label>
                        <div>
                            <select class="form-control" name="job_id">
                                <option>Select Job</option>
                                {% for option in job %}
                                <option value="{{ option.id }}">{{ option.job_title}}</option>
                                {% endfor %}
                            </select>  
                        </div> 
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Email</label>
                        <div>
                            <input name="profile_email" value="" placeholder="john@doe.com" type="text" class="form-control">                                    
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Phone</label>
                        <div>
                            <input name="profile_phone" value="" placeholder="John Doe" type="text" class="form-control">
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6 date">
                        <label class="control-label">Birth Date</label>
                        <div>
                                <input  name="profile_birth" type="text" class="form-control datetimepicker-input" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5"/>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Gender</label>
                        <div>
                            <label>
                                <input type="radio" name="profile_gender" value="male">
                                <span>Male</span>
                            </label>
                            <label>
                                <input type="radio" name="profile_gender" value="female">
                                <span>Female</span>
                            </label>
                        </div>
                    </div>
                
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


