title = "Users - add"
url = "/department/add"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\Department;

function onTest(){

    $post                      = new Department;
    $post->department_name     = input('department_name');
    $post->status              = 1;
    
    $save                      = $post->save();

    if($save){
      return Redirect::to('/department');
    }
}
==
<!-- Page Content Holder -->
<div id="content" data-parent="user" data-current="department">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Create Department</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->

                <form data-request="onTest">
                <div class="row">    

                    <div class="form-group col-md-12">
                        <label class="control-label">Name</label>
                        <div>
                            <input name="department_name" value="" placeholder="Department name" type="text" class="form-control">
                        </div>
                    </div>
                
                    
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


