title = "Users"
url = "/department"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\Department;

function onInit(){
    $department         = Department::get();
    $this['department'] = $department; 
    $this['count']      = $department->count();

    //var_dump($department->toArray());
}

function onDelete(){

    $id          = input('id');

    $department = department::find($id);
    $department->delete();

    $department         = Department::get();
    $this['department'] = $department; 
    $this['count']      = $department->count();

}
==
<!-- Page Content -->
<div class="wrapper">
    <!-- Page Content Holder -->
    <div id="content">
        <div class="tab-content" id="myTabContent">
            <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Departments</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group search-form">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                    </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="float-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/department/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> Create Department</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded-0 mt-4">
                <div class="pt-4 pb-4">
                        <div class="table-responsive">
                        <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Department	</th>
                            <th scope="col">Actions	</th>                                        
                            </tr>
                        </thead>
                        <tbody id="partialTable">
                                {% partial "user/partialDepartment" %}
                        </tbody>
                        </table>
                        </div>
                                
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
