title = "Users - add"
url = "/user/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\User;
use palvlab\GuestfoneStaff\Models\Department;
use palvlab\GuestfoneStaff\Models\Job;
use System\Models\File;

function onInit(){

    $id   = $this->param('id');
    $user = User::leftJoin('palvlab_guestfonestaff_department as dept', 'department_id' , '=' , 'dept.id')
        ->leftJoin('palvlab_guestfonestaff_job as job', 'job_id' , '=' , 'job.id')
        ->select(
            'palvlab_guestfonestaff_user.id' , 
            'palvlab_guestfonestaff_user.username' ,    
            'palvlab_guestfonestaff_user.password' ,             
            'palvlab_guestfonestaff_user.first_name',
            'palvlab_guestfonestaff_user.last_name',
            'palvlab_guestfonestaff_user.email',
            'palvlab_guestfonestaff_user.birthdate',
            'palvlab_guestfonestaff_user.gender',
            'palvlab_guestfonestaff_user.department_id',
            'palvlab_guestfonestaff_user.job_id',
            'dept.department_name',
            'palvlab_guestfonestaff_user.phone_number',
            'job.job_title')
        ->where('palvlab_guestfonestaff_user.id' , $id)
        ->orderBy('palvlab_guestfonestaff_user.last_name' , 'ASC' )
        ->get();
   

    $this['user']      =$user;

    $department         = Department::get();
    $job                = Job::get();
    

    $this['department'] = $department; 
    $this['job']        = $job; 
    

    //var_dump($department->toArray());
    //var_dump($job->toArray());

    //var_dump($user->toArray());


}


function onTest(){

    $id   = $this->param('id');

    $post = User::find($id);

    $file               = new File;
    $file->fromPost(Input::file('profile_image'));
    $file->save();

    $post->username         =  input('auth_slug');
    $post->password         =  input('auth_password');
    $post->first_name       =  input('profile_firstname');
    $post->last_name        =  input('profile_lastname');
    $post->email            =  input('profile_email');
    $post->phone_number     =  input('profile_phone');
    $post->birthdate        =  input('profile_birth');
    $post->gender           =  input('profile_gender');
    $post->department_id    =  input('department_id');
    $post->job_id           =  input('job_id');

    $save = $post->save();

    if (Input::hasFile('profile_image')) {
        $post->image()->add($file);
    }   
   

    if($save){
      return Redirect::to('/user');
    }



}
==
<!-- Page Content Holder -->
<div id="content" data-parent="user" data-current="user">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit User</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->
                {% for post in user %}
 
       
                <form data-request="onTest" data-request-loading="#loading" data-request-files >
                <div class="row">    
                    <div class="form-group col-md-12">
                        <label class="control-label">Image</label>
                        <div>
                            <div data-do="image-field" data-name="profile_image" data-width="200" data-height="200" data-alt="Change this Photo" class="image-field">   
                            <label for="upload-image">
                            <img alt="Upload a Photo" width="100" class="placeholder" src="{{ post.image.path ? post.image.path : 'assets/images/default-image.png'|theme }}">  
                            <input type="file" name="profile_image" accept="image/png,image/jpg,image/jpeg,image/gif" id="upload-image" class="d-none"></div>
                            </label>
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Username</label>
                        <div>
                            <input name="auth_slug" value="{{ post.username }}" placeholder="johndoe" type="text" class="form-control">
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Password</label>
                        <div>
                            <div class="input-group">
                                <input type="password" value="{{ post.password }}"  name="auth_password"  placeholder="Password" class="form-control ">
                                <div class="input-group-prepend">
                                <button class="btn bg-white border border-left-0" type="button" data-do="show-pass" data-on="click">
                                    <i class="fas fa-eye"></i>  
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">First Name</label>
                        <div>
                            <input name="profile_firstname" value="{{ post.first_name }}" placeholder="John Doe" type="text" class="form-control">
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Last Name</label>
                        <div>
                            <input name="profile_lastname" value="{{ post.last_name }}" placeholder="John Doe" type="text" class="form-control">  
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Department</label>
                        <div>
                            <select class="form-control" data-do="show-job-posts" data-on="change" name="department_id">
                                <option>Select Department</option>
                                {% for option in department %}
                                <option value="{{ option.id }}" {% if option.id == post.department_id %}selected{% endif %}>{{ option.department_name}}</option>
                                {% endfor %}
                                    
                            </select>   
                        </div> 
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6" id="job-title-wrapper">
                        <label class="control-label">Job Title</label>
                        <div>
                            <select class="form-control" name="job_id">
                                <option>Select Job</option>
                                {% for option in job %}
                                <option value="{{ option.id }}"  {% if option.id == post.job_id %}selected{% endif %}>{{ option.job_title}}</option>
                                {% endfor %}
                            </select>  
                        </div> 
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Email</label>
                        <div>
                            <input name="profile_email" value="{{ post.email }}" placeholder="john@doe.com" type="text" class="form-control">                                    
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Phone</label>
                        <div>
                            <input name="profile_phone" value="{{ post.phone_number }}" placeholder="John Doe" type="text" class="form-control">
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6 date">
                        <label class="control-label">Birth Date</label>
                        <div>
                                <input  name="profile_birth" type="text"  value="{{ post.birthdate }}" class="form-control datetimepicker-input" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5"/>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Gender</label>
                        <div>
                            <label>
                                  
                                <input type="radio" name="profile_gender" value="1" {% if  (post.gender) == 1  %} checked {% endif%} >
                                <span>Male</span>
                            </label>
                            <label>
                                <input type="radio" name="profile_gender" value="0" {% if  (post.gender) == 0  %} checked {% endif%} >
                                <span>Female</span>
                            </label>
                        </div>
                    </div>
                
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >
                        <span id="loading" style="display: none;"><i class="fas fa-spinner fa-pulse"></i></span> Submit 
                        </button>
                    </div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


