title = "Users"
url = "/user"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\User;

function onStart(){
    $user = User::leftJoin('palvlab_guestfonestaff_department as dept', 'department_id' , '=' , 'dept.id')
        ->leftJoin('palvlab_guestfonestaff_job as job', 'job_id' , '=' , 'job.id')
        ->select(
            'palvlab_guestfonestaff_user.id' , 
            'palvlab_guestfonestaff_user.first_name',
            'palvlab_guestfonestaff_user.last_name',
            'palvlab_guestfonestaff_user.email',
            'dept.department_name',
            'palvlab_guestfonestaff_user.phone_number',
            'job.job_title')
        ->orderBy('palvlab_guestfonestaff_user.last_name' , 'ASC' )
        ->get();

    $this['user']       = $user;
    $this['count']      = $user->count();
    

    //var_dump($user->toArray());

}   

function onDelete(){

    $id = input('id');

    $user = User::find($id);
    $user->delete();

    $user = User::leftJoin('palvlab_guestfonestaff_department as dept', 'department_id' , '=' , 'dept.id')
        ->leftJoin('palvlab_guestfonestaff_job as job', 'job_id' , '=' , 'job.id')
        ->select(
            'palvlab_guestfonestaff_user.id' , 
            'palvlab_guestfonestaff_user.first_name',
            'palvlab_guestfonestaff_user.last_name',
            'palvlab_guestfonestaff_user.email',
            'dept.department_name',
            'palvlab_guestfonestaff_user.phone_number',
            'job.job_title')
        ->orderBy('palvlab_guestfonestaff_user.last_name' , 'ASC' )
        ->get();

    $this['user']       = $user;
    $this['count']      = $user->count();

}

==
<!-- Page Content -->
<div class="wrapper">
    <!-- Page Content Holder -->
    <div id="content">

        <div class="tab-content" id="myTabContent">
            <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> User</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group search-form">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                    </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="float-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/user/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> New Employee</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded-0 mt-4">
                <div class="pt-4 pb-4">
                        <div class="table-responsive">
                        <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Image	</th>
                            <th scope="col">Name	</th>
                            <th scope="col">Email	</th>
                            <th scope="col">Phone	</th>
                            <th scope="col">Department	</th>
                            <th scope="col">Job Title		</th>
                            <th scope="col">Actions	</th>                                        
                            </tr>
                        </thead>
                        <tbody id="partialTable">
                            {% partial "user/partialUser" %}
                        </tbody>
                        </table>
                        </div>
                                
                </div>
               
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
