title = "Users - add"
url = "/jobs/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\Department;
use palvlab\GuestfoneStaff\Models\Job;
use palvlab\GuestfoneStaff\Models\Modules;
use System\Models\File;

function onInit(){

    $id                 = $this->param('id');
    $jobs               = Job::where('id' ,'=', $id)->get();
    $this['jobs']       = $jobs; 
    $module             = Modules::get();

    $department         = Department::get();
    $job                = Job::get();
    $this['module']     = $module; 


    $this['department'] = $department; 
    $this['job']        = $job; 
    
    
    //var_dump($department->toArray());
    //var_dump($jobs->toArray());
 

}

function onTest(){

    $id           = $this->param('id');
    $post         = Job::where('id' ,'=', $id)->first();

    $post->job_title            =  input('job_title');
    $post->job_department       =  input('job_department');
    $post->module_list          =  input('Job')['module_list'];
    
    $post->job_escalation_dept  =  input('job_escalation_dept');
    $post->job_escalation_id    =  input('job_escalation_id');

    $save = $post->save();

    if($save){
      return Redirect::to('/jobs');
    }
}
==
<!-- Page Content Holder -->
<div id="content" data-parent="user" data-current="jobs">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit Job</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->
                {% for post in jobs %}
                <form data-request="onTest"  >
                <div class="row">    

                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Title</label>
                        <div>
                            <input name="job_title" value="{{ post.job_title}}" placeholder="Job 1" type="text" class="form-control">
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Department</label>
                        <div>
                            <select class="form-control" data-do="show-job-posts" data-on="change" name="job_department">
                                <option>Select Department</option>
                                {% for option in department %}
                                <option value="{{ option.id }}" {% if option.id == post.job_department %}selected{% endif %}>{{ option.department_name}}</option>
                                {% endfor %}    
                            </select>   
                        </div> 
                    </div>

                     <div class="form-group col-md-12">
                        <label class="control-label">List</label>
                        <div class="card">
                            <div class="card-body">
                                <!-- <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" value="0" id="Task" name="job[]" class="custom-control-input" {% for check in  post.job_list %}{% if check == "0" %}checked{%endif%}{% endfor %}>
                                    <label class="custom-control-label" for="Task">Task</label>
                                </div> -->
                                {% for option in module %}
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input 
                                    {% for check in post.module_list %}{% if check == option.id %}checked{%endif%}{% endfor %}
                                    type="checkbox" value="{{ option.id }}" id="task-{{ option.id }}" name="Job[module_list][]" class="custom-control-input">
                                    <label class="custom-control-label" for="task-{{ option.id }}">{{ option.name }}</label>
                                </div>
                                {% endfor %} 
                            </div> 
                        </div> 
                    </div>

                    <div class="form-group col-md-6 col-sm-6">
                            <label class="control-label">Escalation Department</label>
                            <div>
                                <select class="form-control" data-do="show-job-posts" data-on="change" name="job_escalation_dept">
                                    <option>Select Department</option>
                                    {% for option in department %}
                                    <option value="{{ option.id }}"  {% if option.id == post.job_escalation_dept %}selected{% endif %}>{{ option.department_name}}</option>
                                    {% endfor %}    
                                </select>   
                            </div> 
                        </div>


                
                    <div class="form-group col-md-6 col-sm-6" id="job-title-wrapper">
                        <label class="control-label">Escalation Job</label>
                        <div>
                            <select class="form-control" name="job_escalation_id">
                                <option>Select Job</option>
                                {% for option in job %}
                                <option value="{{ option.id }}" {% if option.id == post.job_escalation_id %}selected{% endif %}>{{ option.job_title}}</option>
                                {% endfor %}
                            </select>  
                        </div> 
                    </div>
                    
                  
                
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


