title = "Users"
url = "/jobs"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\Job;

function onInit(){
    $job = Job::leftJoin('palvlab_guestfonestaff_department as dept', 'job_department' , '=' , 'dept.id')
        ->select(
            'palvlab_guestfonestaff_job.id' , 
            'palvlab_guestfonestaff_job.job_title' , 
            'dept.department_name')
        ->orderBy('palvlab_guestfonestaff_job.id' , 'DESC' )
        ->get();


    $this['job']    = $job; 
    $this['count']  = $job->count();

    //var_dump($job->toArray());
}

function onDelete(){

    $id          = input('id');

    $post         = Job::where('id' ,'=', $id)->delete();

    $job = Job::leftJoin('palvlab_guestfonestaff_department as dept', 'job_department' , '=' , 'dept.id')
    ->select(
        'palvlab_guestfonestaff_job.id' , 
        'palvlab_guestfonestaff_job.job_title' , 
        'dept.department_name')
    ->orderBy('palvlab_guestfonestaff_job.id' , 'DESC' )
    ->get();


    $this['job']    = $job; 
    $this['count']  = $job->count();

}
==
<!-- Page Content -->
<div class="wrapper">
    <!-- Page Content Holder -->
    <div id="content">
        <div class="tab-content" id="myTabContent">
            <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Jobs</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group search-form">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                    </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="float-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/jobs/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> Create Job</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded-0 mt-4">
                <div class="pt-4 pb-4">
                        <div class="table-responsive">
                        <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Name	</th>                                
                            <th scope="col">Department	</th>
                            <th scope="col">Actions	</th>                                        
                            </tr>
                        </thead>
                        <tbody id="partialTable">
                                {% partial "user/partialJob" %}
                        </tbody>
                        </table>
                        </div>
                                
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
