title = "Users - add"
url = "/legend/add"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\Legend;
use System\Models\File;

function onInit(){
    $legend         = Legend::get();

    $this['legend']     = $legend; 

    
    //var_dump($legend->toArray());

    
}

function onTest(){

    $post = new Legend;

    $post->legend_code            =  input('legend_code');
    $post->legend_long_name     =  input('legend_long_name');


    $save = $post->save();

    if($save){
      return Redirect::to('/legend');
    }
}
==
<!-- Page Content Holder -->
<div id="content" data-parent="user" data-current="legend">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Create Legend</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->

                <form data-request="onTest" data-request-files >
                <div class="row">    

                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Code </label>
                        <div>
                            <input name="legend_code" value="" placeholder="Legend 101" type="text" class="form-control">
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Legend long name </label>
                        <div>
                            <input name="legend_long_name" value="" placeholder="Legend Name" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


