title = "Users - add"
url = "/legend/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\Legend;
use System\Models\File;

function onInit(){
    $id             = $this->param('id');
    $legend         = Legend::find($id)->get();

    $this['legend']   = $legend; 

    //var_dump($legend->toArray());

}

function onTest(){

    $id                     = $this->param('id');
    $post                   = Legend::find($id);
    $post->legend_code      =  input('legend_code');
    $post->legend_long_name =  input('legend_long_name');


    $save = $post->save();

    if($save){
      return Redirect::to('/legend');
    }
}
==
<!-- Page Content Holder -->
<div id="content" data-parent="user" data-current="legend">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit Legend</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->
                {% for post in legend %}
                <form data-request="onTest" data-request-files >
                <div class="row">    

                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Code </label>
                        <div>
                            <input name="legend_code" value="{{ post.legend_code }}" placeholder="Legend 101" type="text" class="form-control">
                        </div>
                    </div>
                
                      <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Legend long name </label>
                        <div>
                            <input name="legend_long_name" value="{{ post.legend_long_name }}" placeholder="Legend Name" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


