title = "Users"
url = "/roster"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\User;
use palvlab\GuestfoneStaff\Models\Legend;
use palvlab\GuestfoneStaff\Models\Roster;


function onInit(){
    $user = User::leftJoin('palvlab_guestfonestaff_department as dept', 'department_id' , '=' , 'dept.id')
        ->leftJoin('palvlab_guestfonestaff_job as job', 'job_id' , '=' , 'job.id')
        ->select(
            'palvlab_guestfonestaff_user.id' , 
            'palvlab_guestfonestaff_user.first_name',
            'palvlab_guestfonestaff_user.last_name',
            'palvlab_guestfonestaff_user.email',
            'dept.department_name',
            'palvlab_guestfonestaff_user.phone_number',
            'job.job_title')
        ->orderBy('palvlab_guestfonestaff_user.last_name' , 'ASC' )
        ->get();

    $legend = Legend::get();
    $Roster = Roster::get();
    

    $this['user']       = $user;
    $this['legend']     = $legend; 
    $this['count']      = $Roster->count(); 

    //var_dump($user->toArray());
}



function onEvents(){
    //$post = Roster::query()->delete();

    $post = new Roster;
    $post->user_id                      =  input('user_id');
    $post->roster_schedule_name         =  input('roster_schedule_name');
    $post->roster_schedule_start_date   =  input('start_date');
    $post->roster_schedule_end_date     =  input('end_date');
    $post->status                       =  1;
    
    $save = $post->save();

    if($save){
      return Redirect::to('/roster');
    }
 

}
function onDelete(){
    $id          = $_POST['id'];

    $post    = Roster::find($id);
    $delete = $post->delete();
    if($delete){
        $output = json_encode(array( //create JSON data
        'events' 	  	=>   $id
        ));

        echo $output; 
        die();
    }
    

}


function onLoadEvents   (){
    
    $post   = Roster::leftJoin('palvlab_guestfonestaff_user as user', 'user_id' , '=' , 'user.id')
        ->leftJoin('palvlab_guestfonestaff_legend as legend', 'roster_schedule_name' , '=' , 'legend.id')
        ->select(
            'user.first_name',
            'user.last_name',
            'legend.legend_long_name',
            'palvlab_guestfonestaff_roster.id',
            'palvlab_guestfonestaff_roster.user_id',
            'palvlab_guestfonestaff_roster.roster_schedule_start_date',
            'palvlab_guestfonestaff_roster.roster_schedule_end_date')
        ->orderBy('palvlab_guestfonestaff_roster.id' , 'DESC' )
        ->get();
                
    $arr    = array();

    foreach ($post as $value){
        $arr[] =    array(
                'id'    => $value->id,
                'title' => $value->legend_long_name,
                'start' => $value->roster_schedule_start_date,
                'end'   => $value->roster_schedule_end_date,
            );
     
    }

    $output = json_encode(array( //create JSON data
        'events' 	  	=>   $arr
    ));
    echo $output; 
    die();	
}

==
<!-- Page Content -->
<div class="wrapper">
    <!-- Page Content Holder -->
    <div id="content">
        <div class="tab-content" id="myTabContent">
            <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Events</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group search-form">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                    </span>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="float-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/jobs/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> Create Department</a>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="card rounded-0 mt-4">
                <div class="card-body">
                    <div id="calendar"></div>         
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-3">

                </div>  
                <div class="col-md-9">
                     
                </div>   

            </div> -->
           
        </div>
    </div>

</div>
<!-- /.container -->


<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form data-request="onEvents"  >    
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New Roster</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                
                    <div class="row">    
                        <div class="form-group col-md-12">
                            <label class="control-label">Employee</label>
                            <div>
                                <select class="form-control" data-do="show-job-posts" data-on="change" name="user_id">
                                    <option>Select Employee</option>
                                    {% for option in user %}
                                    <option value="{{ option.id }}">{{ option.first_name}} {{ option.last_name}}</option>
                                    {% endfor %}
                                </select>   
                            </div> 
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Schedule</label>
                            <div>
                                <select class="form-control" data-do="show-job-posts" data-on="change" name="roster_schedule_name">
                                    <option>Select Schedule</option>
                                    {% for option in legend %}
                                    <option value="{{ option.id }}">{{ option.legend_long_name}}</option>
                                    {% endfor %}
                                </select>   
                            </div> 
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            <label class="control-label">Start Date</label>
                            <div>
                                <input name="start_date" placeholder="yyyy-mm-dd" type="text" class="form-control" readonly>
                            </div>
                        </div>
                    
                        <div class="form-group col-md-6 col-sm-6">
                            <label class="control-label">End Date</label>
                            <div>
                                <input name="end_date" placeholder="yyyy-mm-dd" type="text" class="form-control" readonly>  
                            </div>
                        </div>
                    </div>
            
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>

      </div>
        </div>
    </div>
  