description = "Default layout"
==
<?
use palvlab\GuestfoneStaff\Models\DashboardMenuCategory;
use palvlab\GuestfoneStaff\Models\DashboardMenu;

function onStart(){
    
    if (!Session::has('currentUser')) {
        //$value = Session::get('currentUser');
       //return Redirect::to('/');
    }

}

function onInit(){
    
    $this['currentPageUrl'] = $this->currentPageUrl();

    $dashboardcategory      = DashboardMenuCategory::get();
    $dashboardmenu          = DashboardMenu::get();
    
    $print = array();

    foreach ( $dashboardcategory as $key => $parent){
        $print[$key] = $parent;
        $print_child = array();
        foreach ( $dashboardmenu as $child){   
            if( $child['dashboard_menu_category_id'] == $parent['id'] ){
                $print_child[] =  $child;
            }  
        }
        $print[$key]['navs'] = $print_child; 

        //array_push( $print , array_merge ( $parent , array('navs' => $print_child) ) );

    }
    $this['navs']  = $print;

    //echo json_encode( $print );
    //dashboard_menu_category_name
    //dashboard_category_link
    //dashboard_category_group_title
    //image->getPath()


    //var_dump($dashboardmenu->toArray());
    //dashboard_menu
    //dashboard_menu_category
    //dashboard_menu_link
    //dashboard_menu_category_id
    //var_dump(  $this->param('page')  );


}

function onLogOut(){
    Session::forget('user');
    Session::flush();

    return Redirect::to('/');
}

?>
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author  " content="Palvision">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Palvision">
    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
    <!-- <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet"> -->
    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"> -->

    <link href="{{ 'assets'|theme }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!-- <link   rel="stylesheet" type="text/css"/> -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets'|theme }}/datatable/css/dataTables.bootstrap4.min.css"/>

    <link href="{{ 'assets'|theme }}/flags/flags.css" rel="stylesheet">

    <link href="{{ 'assets'|theme }}/fullcalendar/fullcalendar.min.css" rel="stylesheet">
    <!-- <link href="{{ 'assets'|theme }}/fullcalendar/fullcalendar.print.min.css" rel="stylesheet"> -->
    <link href="{{ 'assets'|theme }}/summernote/summernote-lite.css" rel="stylesheet">
    <link href="{{ 'assets'|theme }}/sweetalert/sweetalert.css" rel="stylesheet">
   
    <link href="{{ 'assets'|theme }}/gijgo/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    
    <link href="{{ 'assets'|theme }}/css/static2.css" rel="stylesheet">
    {% styles %}
</head>
<body>
<!-- Content -->

    <header class="site-header">
        <!-- Navigation -->
        <div class="top-head">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="#">
            <img src="{{ 'assets'|theme }}/images/logo-white.png" height="35" alt="palvision">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto ">
                <!-- <li class="nav-item">
                    <a class="nav-link text-white" href="#"><i class="fas fa-envelope"></i></a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-flag"></i>
                    </a>
                    <div class="dropdown-menu" style="right: 0;left: auto;min-width: auto;">
                        
                        <a class="dropdown-item" href="#"> <i class="flag flag-jp"></i></a>
                        <a class="dropdown-item" href="#"> <i class="flag flag-cn"></i></a>
                        <a class="dropdown-item" href="#"> <i class="flag flag-kr"></i></a>
                        <a class="dropdown-item" href="#"> <i class="flag flag-pf"></i></a>
                        <a class="dropdown-item" href="#"> <i class="flag flag-ru"></i></a>
                        <a class="dropdown-item" href="#"> <i class="flag flag-es"></i></a>
                        <a class="dropdown-item" href="#"> <i class="flag flag-th"></i></a>
                        <a class="dropdown-item" href="#"> <i class="flag flag-id"></i></a>
                        <a class="dropdown-item" href="#"> <i class="flag flag-sa"></i></a>
                        
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="dropdown-menu" style="right: 0;left: auto;min-width: auto;">
                        <a class="dropdown-item  text-dark" href="#"><i class="fas fa-envelope"></i> Message</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item  text-dark" href="#"  data-request="onLogOut"  ><i class="fas fa-power-off"></i> Logout</a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>
        </div>
    </header>
    <!-- Page Content -->
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
            {% for key, post in navs %}
            <li class="nav-item">
                    <!-- data-toggle="collapse" data-target="#{{ post.dashboard_category_link}}" -->
                
                <a href="{{ url('/', post.dashboard_category_link) }}" > 
                    <img src="{{ post.image.getPath() }}">
                    <span>{{ post.dashboard_menu_category_name }} </span>
                </a>

                {% if post.navs  %}
                <ul class="collapse list-unstyled {{post.dashboard_category_link }}" id="{{  post.dashboard_category_link }}">
                    {% for child in (post.navs) %}
                        <li class="{{ child.dashboard_menu_link }} {% if currentPageUrl == url('/', child.dashboard_menu_link) %} active{% endif %}" >
                            <a href="{{ url('/', child.dashboard_menu_link) }}"><span>{{ child.dashboard_menu}}</span></a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="dropdown-icon" data-toggle="collapse" data-target="#{{ post.dashboard_category_link}}">
                    <i class="fas fa-angle-right"></i>
                </div>
                
            </li>
            {% endfor %}
            
            </ul>
        </nav>
    {% page %}
    </div>

    <!-- /.container -->
    <footer class="site-footer">
        <div class="control-btn-help control-btn">
            <i class="far fa-question-circle"></i>
        </div>
        <div class="control-side-bar">  
            <div class="control-wrapper">
                <div class="control-btn-close control-btn">
                    <i class="fas fa-times"></i>
                </div>
                <h3 class="control-sidebar-heading">General Settings</h3>
        
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                    Report panel usage
                    <input type="checkbox" class="pull-right" checked="">
                    </label>
        
                    <p>
                    Some information about this general settings option
                    </p>
                </div>
                <!-- /.form-group -->
        
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                    Allow mail redirect
                    <input type="checkbox" class="pull-right" checked="">
                    </label>
        
                    <p>
                    Other sets of options are available
                    </p>
                </div>
                <!-- /.form-group -->
        
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                    Expose author name in posts
                    <input type="checkbox" class="pull-right" checked="">
                    </label>
        
                    <p>
                    Allow the user to show his name in blog posts
                    </p>
                </div>
                <!-- /.form-group -->
        
                <h3 class="control-sidebar-heading">Chat Settings</h3>
        
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                    Show me as online
                    <input type="checkbox" class="pull-right" checked="">
                    </label>
                </div>
                <!-- /.form-group -->
        
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                    Turn off notifications
                    <input type="checkbox" class="pull-right">
                    </label>
                </div>
                <!-- /.form-group -->
        
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                    Delete chat history
                    <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                    </label>
                </div>
                <!-- /.form-group -->
                </form>
            </div>
        </div> 
    </footer>


<!-- Scripts -->
<!-- <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
<script src="{{ 'assets/javascript/app.js'|theme }}"></script> -->

 <!-- Bootstrap core JavaScript -->
 <script src="{{ 'assets'|theme }}/vendor/jquery/jquery.min.js"></script>
 
 <script src="{{ 'assets'|theme }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <!-- Bootstrap Js CDN -->
 <script src="{{ 'assets'|theme }}/js/bootstrap.min.js"></script>
 <!-- Static Js -->
 <!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->

 
 <script type="text/javascript" src="{{ 'assets'|theme }}/fullcalendar/moment.min.js"></script>
 
 <script type="text/javascript" src="{{ 'assets'|theme }}/fullcalendar/fullcalendar.min.js"></script>

 <script type="text/javascript" src="{{ 'assets'|theme }}/summernote/summernote-lite.js"></script>
 <script type="text/javascript" src="{{ 'assets'|theme }}/sweetalert/sweetalert.min.js"></script>
 
 <script src="{{ 'assets'|theme }}/gijgo/js/gijgo.min.js" type="text/javascript"></script>
 
 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js" type="text/javascript"></script> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
 

 <script type="text/javascript" src="{{ 'assets'|theme }}/datatable/js/jquery.dataTables.min.js"></script>
 <script type="text/javascript" src="{{ 'assets'|theme }}/datatable/js/dataTables.bootstrap4.min.js"></script>

 <script src="{{ 'assets'|theme }}/js/static.js"></script>

{% framework extras %}
{% scripts %}

</body>
</html>
