title = "Room"
url = "/rooms/add"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\GuestRooms;
use palvlab\Hotelcms\Models\RoomType;

function onInit(){

    $type           = RoomType::get();
    $this['types']  = $type;

    //var_dump($type->toArray());

}

function onTest(){

    $post = new GuestRooms;

    $post->room_number            =  input('room_number');
    $post->block                  =  input('block');
    $post->floor                  =  input('floor');
    $post->section                =  input('section');
    $post->occupancy_status       =  input('occupancy_status');
    $post->housekeeping_status    =  input('housekeeping_status');
    $post->guest_name             =  input('guest_name');
    $post->type_id                =  input('type');
    $post->status                 =  1;
    
    
    $save = $post->save();
    
    if($save){
        return Redirect::to('/rooms');
    }
 
}
==
<!-- Page Content Holder -->
<div id="content" data-parent="rooms" data-current="rooms">
    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Create Room</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                
                <form data-request="onTest"  >
                <div class="row">    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Room Number</label>
                            <div>
                                <input name="room_number" value="" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Block</label>
                            <div>
                                <input name="block" value="" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Floor</label>
                            <div>
                                <input name="floor" value="" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Section</label>
                            <div>
                                <input name="section" value="" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Occupancy Status</label>
                            <div>
                                <input name="occupancy_status" value="" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Housekeeping Status</label>
                            <div>
                                <input name="housekeeping_status" value="" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Guest Name</label>
                            <div>
                                <input name="guest_name" value="" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Room Type</label>
                            <div>
                                <select class="form-control" name="type">
                                {% for option in types %}       
                                <option value="{{ option.id }}">{{ option.room_type_name }} - {{ option.room_type_name2 }}</option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                </form>
                            
            </div>
        </div>
    </div>
</div>