title = "Room"
url = "/rooms/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\GuestRooms;
use palvlab\Hotelcms\Models\RoomType;
function onInit(){

    $id                 = $this->param('id');
    $posts              = GuestRooms::leftJoin('palvlab_hotelcms_room_type as type' , 'type' , '=' , 'type.id')
        ->select(
            'palvlab_guestfonestaff_guestrooms.id', 
            'palvlab_guestfonestaff_guestrooms.room_number', 
            'palvlab_guestfonestaff_guestrooms.block',
            'palvlab_guestfonestaff_guestrooms.floor',
            'palvlab_guestfonestaff_guestrooms.section',
            'palvlab_guestfonestaff_guestrooms.occupancy_status',
            'palvlab_guestfonestaff_guestrooms.housekeeping_status',
            'palvlab_guestfonestaff_guestrooms.guest_name',
            'type.id as  type_id',
            'type.room_type_name')
        ->orderBy('palvlab_guestfonestaff_guestrooms.id' , 'DESC' )
        ->where('palvlab_guestfonestaff_guestrooms.id' ,'=', $id)
        ->get();
   

    $this['guest']       = $posts;
    $this['guest_count'] = $posts->count();

    $type           = RoomType::get();
    $this['types']  = $type;

    //var_dump($posts->toArray());     

    //var_dump($user->toArray());
}

function onTest(){
    $id                 = $this->param('id');

    $post = GuestRooms::where('id' ,'=', $id)->first();

    $post->room_number            =  input('room_number');
    $post->block                  =  input('block');
    $post->floor                  =  input('floor');
    $post->section                =  input('section');
    $post->occupancy_status       =  input('occupancy_status');
    $post->housekeeping_status    =  input('housekeeping_status');
    $post->guest_name             =  input('guest_name');
    $post->type_id                =  input('type');
    $post->status                 =  1;
    
    
    $save = $post->save();
    
    if($save){
        return Redirect::to('/rooms');
    }
 
}
==
<!-- Page Content Holder -->
<div id="content" data-parent="rooms" data-current="rooms">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit Room</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                {% for post in guest %}
                <form data-request="onTest"  >
                <div class="row">    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Room Number</label>
                            <div>
                                <input name="room_number" value="{{ post.room_number}}" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Block</label>
                            <div>
                                <input name="block" value="{{ post.block}}" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Floor</label>
                            <div>
                                <input name="floor" value="{{ post.floor}}" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Section</label>
                            <div>
                                <input name="section" value="{{ post.section}}" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Occupancy Status</label>
                            <div>
                                <input name="occupancy_status" value="{{ post.occupancy_status}}" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Housekeeping Status</label>
                            <div>
                                <input name="housekeeping_status" value="{{ post.housekeeping_status}}" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Guest Name</label>
                            <div>
                                <input name="guest_name" value="{{ post.guest_name}}" placeholder="Number" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Room Type</label>
                            <div>
                                <select class="form-control" name="type">
                                {% for option in types %}       
                                <option value="{{ option.id }}" {% if  (option.id) == (post.type_id)  %} selected {% endif%} >{{ option.room_type_name }}</option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>