title = "Room"
url = "/rooms"
layout = "default"
==
<?
use palvlab\GuestfoneStaff\Models\GuestRooms;

function onStart(){
    $posts              = GuestRooms::leftJoin('palvlab_hotelcms_room_type as type' , 'type_id' , '=' , 'type.id')
    ->select(
        'palvlab_guestfonestaff_guestrooms.id', 
        'palvlab_guestfonestaff_guestrooms.room_number', 
        'palvlab_guestfonestaff_guestrooms.block',
        'palvlab_guestfonestaff_guestrooms.floor',
        'palvlab_guestfonestaff_guestrooms.section',
        'palvlab_guestfonestaff_guestrooms.occupancy_status',
        'palvlab_guestfonestaff_guestrooms.housekeeping_status',
        'palvlab_guestfonestaff_guestrooms.guest_name',
        'type.id as  type_id',
        'type.room_type_name')
    ->orderBy('palvlab_guestfonestaff_guestrooms.id' , 'DESC' )
    ->get();

    $this['guest']      = $posts;
    $this['count']      = $posts->count();
    
   // var_dump($posts->toArray());

}   

function onDelete(){

    $id = input('id');

    $posts = GuestRooms::find($id);
    $posts->delete();

    $posts = GuestRooms::get();

    $this['guest']      = $posts;
    $this['count']      = $posts->count();

}

?>
==
<!-- Page Content Holder -->
<div id="content">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Rooms</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group search-form">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="rounded-0 btn btn-primary">Active</a>
                        <a class="rounded-0 btn btn-danger">Inactive</a>
                        <a href="{{ url('/rooms/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> Create New Room</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                    <div class="table-responsive">
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Name/Location/Unit	</th>
                        <th scope="col">Room Type	</th>
                        <th scope="col">Action	</th>
                        
                                                                    
                        </tr>
                    </thead>
                    <tbody id="partialTable">
                        {% partial "guestroom/partialTable" %}
                    </tbody>
                    </table>
                    </div>
                            
            </div>
        </div>
    </div>
</div>