title = "Room"
url = "/room-types"
layout = "default"
==
<?
use palvlab\Hotelcms\Models\RoomType;
function onStart(){
    $posts = RoomType::get();

    $this['roomtypes']      = $posts;
    $this['count']          = $posts->count();
    
    //var_dump($posts->toArray());

}   

function onDelete(){

    $id = input('id');

    $posts = RoomType::find($id);
    $posts->delete();

    $posts = RoomType::get();

    $this['roomtypes']      = $posts;
    $this['count']          = $posts->count();

}

?>
==
<!-- Page Content Holder -->
<div id="content">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Room Types</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group search-form">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="rounded-0 btn btn-primary">Active</a>
                        <a class="rounded-0 btn btn-danger">Inactive</a>
                        <a href="{{ url('/room-types/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> Create Room Type</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                    <div class="table-responsive">
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Name	</th>
                        <th scope="col">Code	</th>
                        <th scope="col">Name	</th>
                        <th scope="col">Action	</th>                                        
                        </tr>
                    </thead>
                    <tbody id="partialTable">
                        {% partial "guestroom/partialType" %}
                    </tbody>
                    </table>
                    </div>
                            
            </div>
        </div>
    </div>
</div>