title = "Room - add"
url = "/room-types/add"
layout = "default"
==
use palvlab\Hotelcms\Models\RoomType;
use System\Models\File;

function onTest(){

    $post = new RoomType;

    $file             = new File;
    $file->fromPost(Input::file('room_type_image'));

    $file->save();
    if (Input::hasFile('room_type_image')) {
        $post->image()->add($file);
    } 
    $post->room_type_name             =  input('room_type_name');
    $post->room_type_name2            =  input('room_type_name2');
    $post->room_type_description      =  input('room_type_description');
    $post->room_type_price            =  input('room_type_price');
    $post->status                     = 1;

    $save = $post->save();
    if (Input::hasFile('room_type_image')) {
        $post->image()->add($file);
    } 
   
    if($save){
      return Redirect::to('/room-types');
    }
}
==
<!-- Page Content Holder -->
<div id="content" data-parent="rooms" data-current="room-types">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Create Room Type</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->

                <form data-request="onTest" data-request-files >
                <div class="row">    
                    <div class="form-group col-md-12">
                        <label class="control-label">Image</label>
                        <div>
                            <div data-do="image-field" data-name="profile_image" data-width="200" data-height="200" data-alt="Change this Photo" class="image-field">   
                            <label for="upload-image">
                            <img alt="Upload a Photo" width="100" class="placeholder" src="{{ 'assets/images/default-image.png'|theme }}">  
                            <input type="file" name="room_type_image" accept="image/png,image/jpg,image/jpeg,image/gif" id="upload-image" class="d-none"></div>
                            </label>
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Code </label>
                        <div>
                            <input name="room_type_name" value="" placeholder="johndoe" type="text" class="form-control">
                        </div>
                    </div>
                
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Name</label>
                        <div>
                            <input name="room_type_name2" value="" placeholder="johndoe" type="text" class="form-control">
                        </div>
                    </div>
                    
                    
                    <div class="form-group col-md-12">
                        <label class="control-label">Description</label>
                        <div>
                            <textarea class="input-block-level" id="summernote" name="room_type_description" rows="18"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Price </label>
                        <div>
                            <input name="room_type_price" value="" placeholder="johndoe" type="text" class="form-control">
                        </div>
                    </div>
                   
                
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


