{% for key, post in item %}
    <tr>
    <th scope="row">
        <input type="hidden" name="LinenUsage[dirty][{{key + 1}}][linen_item]" class="form-control input-number" value="{{ post.linen_name }}" >
        <input type="hidden" name="LinenUsage[damage][{{key + 1}}][linen_item]" class="form-control input-number" value="{{ post.linen_name }}" >
        {{ post.linen_name }}
    </th>    

    <th scope="row">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number rounded-0"  data-type="minus" data-field="quant[1]">
                    <i class="fas fa-minus"></i>
                </button>
            </span>
            <input type="text" name="LinenUsage[dirty][{{key + 1}}][quantity]" class="form-control input-number" value="{{ post.quantity }}" min="1" max="9999">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number rounded-0" data-type="plus" data-field="quant[1]">
                <i class="fas fa-plus"></i>
                </button>
            </span>
        </div>
    </th>    
    <th scope="row">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number rounded-0"  data-type="minus" data-field="quant[1]">
                    <i class="fas fa-minus"></i>
                </button>
            </span>
            <input type="text" name="LinenUsage[damage][{{key + 1}}][amount]" class="form-control input-number" value="{{ post.amount ?  post.amount :  post.quantity }}" min="1" max="9999">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number rounded-0" data-type="plus" data-field="quant[1]">
                <i class="fas fa-plus"></i>
                </button>
            </span>
        </div>
            
    </th>    
    </tr>
{% endfor %}