{% for post in usage %}
    <tr>
    <th>{{ post.first_name}} {{ post.last_name}}</th>        
    <th>{{ post.room_number}}</th>
    <td>{{ post.linen_bundle}}</td>
    <td>
        <a href="{{ url('/consumed/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
        data-request="onDelete"  
        data-request-data="id: {{ post.id }}"  
        data-request-update="'linen/partialUsage': '#partialTable' , 'partialCount' : '#count'"
        class="text-danger"><i class="fas fa-trash"></i></a>
    </td>
    </tr>
{% endfor %}