{% for post in categories %}
    <tr>
    <th scope="row">{{ post.category_name}}</th>
    <td>{{ post.category_type}}</td>
    <td>
        <a href="{{ url('/general-settings/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
            data-request="onDelete"  
            data-request-data="id: {{ post.id }}"  
            data-request-update="'dashboard/partialCategory': '#partialTable' , 'partialCount' : '#count'"
            class="text-danger"><i class="fas fa-trash"></i>
        </a>
    </td>
    </tr>
{% endfor %}