{% for post in lostitem %}
<li class="list-group-item">
    <div class="items float-left w-100">
        <strong class="float-left item-name">{{ post.category_name }}</strong>
        <!-- <div class="float-right item-category">mobile phone</div>  -->
    </div>
    <div class="attributes float-left">
        {% for key , attr in post.attr %}
            <div> {{ key }} : {{ attr }}</div>   
        {% endfor %}
    </div>  

</li>
{% endfor %}