{% for post in founditem %}
    <tr>
    <td>{{ post.category_name}}</td>
    <td>{{ post.found_date}}</td>
    <td>{{ post.site_location_name}}</td>    
    <td><img src="{{ post.image.path ? post.image.path : 'assets/images/default-image.png'|theme }}" width="52"></td>
    <td>{{ html_strip(post.found_detail) }}</td>
    <td>
        <a href="{{ url('/found-items/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
            data-request="onDelete"  
            data-request-data="id: {{ post.id }}"  
            data-request-update="'dashboard/partialFoundItem': '#partialTable' , 'partialCount' : '#count'"
            class="text-danger"><i class="fas fa-trash"></i>
        </a>
    </td>
    </tr>
{% endfor %}