<div class="row">
    {% for post in attribute %}
    {% for key ,cat in post.category_description %}
    <div class="col-md-6 mb-3">
        <label class="control-label">{{ cat.attribute_name }}</label>
        <div>
            <select class="form-control" name="FoundItem[Attribute{{ cat.attribute_name }}]">
                {% for list in cat.attribute %}
                <option value="{{ list.attribute_list }}"
                {% for attr, lost in lost_attributes %}
                    {% if attr == cat.attribute_name %} 
                        {% if list.attribute_list == lost %} selected {% endif %}
                    {% endif %}
                {% endfor %}
                >{{ list.attribute_list }}
                </option>
                {% endfor %}
            </select>  
        </div>   
    </div>
    {% endfor %}
    {% endfor %}
</div>