/*!
 * Static 2 CSS
 */

 @import 'fontawesome/web-fonts-with-css/css/fontawesome-all.css';

 @font-face {
    font-family: "CenturyGothic";
    src: url('fonts/CenturyGothic.ttf') format("truetype");
}

html , body{
    font-family: 'CenturyGothic' !important;
}
body{
    overflow-x: hidden;
}
img{
    max-width: 100%;
}
.bg-dark {
    background-color: #0e2240 !important;
}

header.site-header {
    position: relative;
    z-index: 10;
}
.top-head {
    /* position: fixed; */
    width: 100%;
    top: 0;
}
.dropdown-icon {
    color: #000;
    position: absolute;
    right: 0;
    top: -4px;
    padding: 15px;
    font-size: 18px;
    z-index: 1;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.dropdown-icon.transform {
    transform: rotate(90deg);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    /* position: fixed; */
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    float: left;
    box-shadow: 3px 6px 4px #ccc;
    min-height: 100vh;
    /* top: 56px; */
    padding: 10px 0;
}

#sidebar.active {
    margin-left: -250px;
}

li.nav-item {
    position: relative;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 15px 15px 100px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: auto;
    /* margin-top: 56px; */
    /* position: absolute; */
    /* top: 0;
    right: 0;
    float: left; */
}
#content.active {
    width: 100%;
}   
#content .nav-tabs .nav-link.active {
    background: #0e2240;
    color: #fff;
    border-color: #dee2e6 #dee2e6 #0e2240;
}

nav#sidebar a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #3c3b40;
}
nav#sidebar a:hover ,nav#sidebar ul li.active a {
    background: #e6e3e3;
    color: #0e2240;
}
nav#sidebar span {
    display: block;
    vertical-align: middle;
    width: calc(100% - 50px);
    font-size: 13px;
    margin-left: auto;
    padding: 15px;
}


nav#sidebar ul li.active .collapse-in a:hover , .collapse-in > li.active a {
    background: #d0d0d0 !important;
}
.collapse-in {
    display: none;
}
.collapse-in.active {
    display: block;
}


nav#sidebar img {
    position: absolute;
    width: 50px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 5px;
}
.input-group.search-form button {
    background: none;
    border: 1px solid #ced4da;
    border-left: 0;
    border-radius: 0;
}

.input-group.search-form input {
    border-right: 0;
    border-radius: 0;
}
.control-btn-help {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 32px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    z-index: 1;
    color: #0e2240;
}
.control-btn-help:after {
    position: absolute;
    content: "";
    background: #ffffff;
    left: 2px;
    top: 11px;
    width: 27px;
    height: 27px;
    z-index: -1;
    border-radius: 100px;
}
.control-btn-close {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.control-side-bar {
    position: absolute;
    right: -250px;
    top: 56px;
    height: 100%;
    width: 250px;
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out;
    
}
.control-side-bar:after {
    position: fixed;
    content: "";
    background: #0e2240;
    bottom: 0;
    right: -250px;
    height: 100%;
    width: 250px;
    top: 0;
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out;
    z-index: 1;
}

.control-wrapper {
    padding: 10px 15px;
    background: #0e2240;
    color: #fff;
    position: relative;
    z-index: 4;
}

.control-side-bar.active ,.control-side-bar.active:after{
    right: 0;
}



.upper-text {
    font-size: 35px;
    margin-right: 10px;
}

.upper-icon {
    font-size: 30px;
}

.mt-12{
    margin-top: 12px;
}

span.remove-attr {
    position: absolute;
    top: -13px;
    right: -1px;
    font-size: 22px;
    color: #ed0909;
}

table.dataTable {
    border-collapse: collapse !important;
}
/* 


@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
} */


