/*!
 * Static CSS
 */

 @import 'fontawesome/web-fonts-with-css/css/fontawesome-all.css';

 @font-face {
    font-family: "CenturyGothic";
    src: url('fonts/CenturyGothic.ttf') format("truetype");
}

html , body{
    font-family: 'CenturyGothic' !important;
}
img{
    max-width: 100%;
}

.bg-dark {
    background-color: #0e2240 !important;
}

.nav-head ul {
    width: 100%;
}


.nav-head ul > li {
    width: 7.692%;
}
.nav-head ul > li >a {
    height: 60px;
    padding: 0;
    text-align: center;
    position: relative;
    display: block;
}
.nav-head span {
    display: block;
    color: #3c3b40;
    font-size: 13px;
}
.nav-head img{
    height: 100%;
    max-width: 100%;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;

    color: #fff;
    transition: all 0.3s;
    float: left;
}

#sidebar.active {
    margin-left: -250px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 15px;
    min-height: 100vh;
    transition: all 0.3s;
    /* position: absolute; */
    top: 0;
    right: 0;
    float: left;
}
#content.active {
    width: 100%;
}   


.upper-text {
    font-size: 35px;
    margin-right: 10px;
}

.upper-icon {
    font-size: 30px;
}