{% for post in type %}
    <tr>
    <th scope="row">{{ post.name}}</th>
    <td>
        <a href="{{ url('/minibar-types/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
        data-request="onDelete"  
        data-request-data="id: {{ post.id }}"  
        data-request-update="'minibar/partialType': '#partialTable' , 'partialCount' : '#count'"
        class="text-danger"><i class="fas fa-trash"></i></a>
    </td>
    </tr>
{% endfor %}