{% for post in minibar %}
    <tr>
    <td><img src="{{ post.image.path ? post.image.path : 'assets/images/default-image.png'|theme }}" width="52"></td>
    <th scope="row">{{ post.name}}</th>
    <th scope="row">{{ post.actual_cost}}</th>
    <th scope="row">{{ post.selling_price}}</th>
    <td>
        <a href="{{ url('/minibar/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
        data-request="onDelete"  
        data-request-data="id: {{ post.id }}"  
        data-request-update="'minibar/partialItem': '#partialTable' , 'partialCount' : '#count'"
        class="text-danger"><i class="fas fa-trash"></i></a>
    </td>
    </tr>
{% endfor %}