{% for post in guest %}
    <tr>
    <th scope="row">{{ post.room_number}}</th>
    <td>{{ post.room_type_name}}</td>
    <td>
        <a href="{{ url('/rooms/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
        data-request="onDelete"  
        data-request-data="id: {{ post.id }}"  
        data-request-update="'guestroom/partialTable': '#partialTable' , 'partialCount' : '#count'"
        class="text-danger"><i class="fas fa-trash"></i></a>
    </td>
    </tr>
{% endfor %}