{% for post in roomtypes %}
    <tr>
    <td><img src="{{ post.image.path ? post.image.path : 'assets/images/default-image.png'|theme }}" width="52"></td>
    <th>{{ post.room_type_name }}</th>
    <th>{{ post.room_type_name2 }}</th>
    <td>
        <a href="{{ url('/room-types/edit/', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
        data-request="onDelete"  
        data-request-data="id: {{ post.id }}"  
        data-request-update="'guestroom/partialType': '#partialTable' , 'partialCount' : '#count'"
        class="text-danger"><i class="fas fa-trash"></i></a>
    </td>
    </tr>
{% endfor %}