title = "Category - add"
url = "/found-items/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LostAndFoundCategory;
use palvlab\GuestfoneStaff\Models\SiteLocation;
use palvlab\GuestfoneStaff\Models\FoundItem;
use System\Models\File;


function onInit(){
    //palvlab_guestfonestaff_lost_and_found_category
    //palvlab_guestfonestaff_site_location
    //palvlab_guestfonestaff_lost_item
    $id                   = $this->param('id');

    $categories           = LostAndFoundCategory::orderBy('id' , 'ASC' )->get();
    $location             = SiteLocation::get();
    $founditem            = FoundItem::where('id','=', $id)->get();
    
    $this['categories']   = $categories;    
    $this['location']     = $location;
    $this['founditem']    = $founditem;

    foreach( $founditem as $value ){
        $attr = $value['found_item'];   
    }

    $this['attribute']     = LostAndFoundCategory::where('id','=', $attr)->get();

    //var_dump($category->toArray());
    //var_dump($location->toArray());
    
}
function onChange() {

    $id     = input('found_item');

    $attribute             = LostAndFoundCategory::where('id','=',$id)->get();
    $this['attribute']     = $attribute;
    
}

function onTest(){

    //var_dump( input() );
    $id                   = $this->param('id');
    
    $post = FoundItem::where('id','=', $id)->first();

    $file             = new File;
    $file->fromPost(Input::file('found_image'));
    $file->save();
    

    $att = [];
    foreach ( input('FoundItem') as $name => $value) { 
        if(strpos($name, 'Attribute') === 0){
            $att[str_replace('Attribute', '', $name)] =  $value;       
        }     
        
    }

    $post->found_item            =  input('found_item');
    $post->found_location        =  input('found_location');
    $post->found_date            =  input('found_date') . ' ' . input('found_time')  ;
    $post->found_detail          =  input('found_detail');
    $post->found_attribute       =  json_encode($att);

    $post->status               =  1;
    //var_dump( input('found_date') . input('found_time')  );

   $save = $post->save();
    if (Input::hasFile('found_image')) {
        $post->image()->add($file);
    }   

    if($save){
        return Redirect::to('/found-items');
    }

}
==
<!-- Page Content Holder -->
<div id="content" data-parent="dashboard" data-current="found-items">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit Found Item</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->
                {% for post in founditem %}                
                <form data-request="onTest" data-request-files >
                <div class="row">    

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Location</label>
                            <div>
                                <select class="form-control" name="found_location">
                                {% for option in location %}       
                                <option value="{{ option.id }}"
                                {% if option.id == post.found_location %}selected{% endif %}
                                >{{ option.site_location_name }} </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="control-label">Date Picker</label>
                                    <div>
                                        <input class="form-control" id="datepicker" name="found_date" value="{{ post.found_date|date('Y-m-d') }}" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="control-label">Time Picker</label>
                                    <div>
                                        <input class="form-control" id="timepicker" name="found_time" value="{{ post.found_date|date('H:i') }}" readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Details</label>
                            <div>
                                <textarea class="input-block-level" id="summernote" name="found_detail" rows="18">{{ post.found_detail }}</textarea>
                            </div>
                         </div>
                        <div class="form-group">
                            <label class="control-label">Image</label>
                            <div>
                                <div data-do="image-field" data-name="profile_image" data-width="200" data-height="200" data-alt="Change this Photo" class="image-field">   
                                <label for="upload-image">
                                <img alt="Upload a Photo" width="100" class="placeholder" src="{{ post.image.path ? post.image.path : 'assets/images/default-image.png'|theme }}">  
                                <input type="file" name="found_image" accept="image/png,image/jpg,image/jpeg,image/gif" id="upload-image" class="d-none"></div>
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Item</label>
                            <div>
                                <select class="form-control" name="found_item"
                                data-request="onChange"  
                                data-request-update="'dashboard/partialFoundItemAttr': '#partialItemAttr'">   
                                {% for option in categories %}       
                                <option value="{{ option.id }}"
                                {% if option.id == post.found_item %}selected{% endif %}
                                >{{ option.category_name }} </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>

                        <div id="partialItemAttr">{% partial "dashboard/partialFoundItemAttr" lost_attributes=cat_desc %}</div>
                    </div>

     
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


