title = "Category"
url = "/found-items"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\FoundItem;
use palvlab\GuestfoneStaff\Models\LostAndFoundCategory;
use palvlab\GuestfoneStaff\Models\SiteLocation;


function onInit(){
    //palvlab_guestfonestaff_found_item
    //palvlab_guestfonestaff_lost_and_found_category
    //palvlab_guestfonestaff_site_location

    $founditem  = FoundItem::leftJoin('palvlab_guestfonestaff_site_location as location' , 'found_location' , '=','location.id')
        ->leftJoin('palvlab_guestfonestaff_lost_and_found_category as cat' , 'found_item' , '=','cat.id')     
        ->select(
            'palvlab_guestfonestaff_found_item.id',
            'palvlab_guestfonestaff_found_item.found_date',
            'palvlab_guestfonestaff_found_item.found_detail',
            'location.site_location_name',
            'cat.category_name')
        ->orderBy('palvlab_guestfonestaff_found_item.id' , 'DESC' )
        ->get();

    $this['founditem']  = $founditem;

    //var_dump($founditem->toArray());
}

function onDelete(){

    $id = input('id');

    $post = FoundItem::where('id','=',$id);
    $post->delete();

    $founditem  = FoundItem::leftJoin('palvlab_guestfonestaff_site_location as location' , 'found_location' , '=','location.id')
        ->leftJoin('palvlab_guestfonestaff_lost_and_found_category as cat' , 'found_item' , '=','cat.id')     
        ->select(
            'palvlab_guestfonestaff_found_item.id',
            'palvlab_guestfonestaff_found_item.found_date',
            'palvlab_guestfonestaff_found_item.found_detail',
            'location.site_location_name',
            'cat.category_name')
        ->orderBy('palvlab_guestfonestaff_found_item.id' , 'DESC' )
        ->get();

    $this['founditem']      = $founditem;
    $this['count']          = $founditem->count();

}


==
<!-- Page Content Holder -->
<div id="content" data-parent="dashboard" data-current="found-items">
    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Found Items</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group search-form">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                       <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/found-items/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> Create New Found Item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mt-4">
            <div class="pt-4 pb-4">
                <div class="table-responsive">
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Category	</th>
                    <th scope="col">Date Lost	</th>
                    <th scope="col">Location	</th>
                    <th scope="col">Image	</th>                    
                    <th scope="col">Details	</th>
                    <th scope="col">Action	</th>                                  
                    </tr>
                </thead>
                <tbody id="partialTable">
                    {% partial "dashboard/partialFoundItem" %}
                </tbody>
                </table>
                </div>         
            </div>
        </div>
    </div>
</div>