title = "Palvision"
url = "/dashboard"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LostItem;
use palvlab\GuestfoneStaff\Models\FoundItem;
use palvlab\GuestfoneStaff\Models\LostAndFoundCategory;

use palvlab\Fronendcontroller\Controllers\Dashboard;


function onInit(){

    //$dash = new Dashboard;
    
    //echo( $dash->dashboard('count') );
    

    //palvlab_guestfonestaff_lost_and_found_category
    //palvlab_guestfonestaff_lost_item    
    //palvlab_guestfonestaff_found_item

    $lostitem               = LostItem::leftJoin('palvlab_guestfonestaff_lost_and_found_category as cat', 'lost_item' , '=' , 'cat.id')
        ->select('*')
        ->orderBy('palvlab_guestfonestaff_lost_item.id' , 'DESC' )
        ->get();
    $founditem              = FoundItem::leftJoin('palvlab_guestfonestaff_lost_and_found_category as cat', 'found_item' , '=' , 'cat.id')
        ->select('*')
        ->orderBy('palvlab_guestfonestaff_found_item.id' , 'DESC' )
        ->get();
    
    $lostarry = [];
    $foundarry = [];
    
    foreach($lostitem as $lost ){
        $lostarry[] = array(
            'category_name'    => $lost['category_name'],
            'attr'             => json_decode($lost['lost_attributes'] ,true)
        );
    }
    foreach($founditem as $lost ){
        $foundarry[] = array(
            'category_name'    => $lost['category_name'],
            'attr'             => json_decode($lost['found_attribute'] ,true)
        );
    }

    $this['lostitem']       = $lostarry;
    $this['founditem']      = $foundarry;

    $this['lostitemcount']  = $lostitem->count();
    $this['founditemcount'] = $founditem->count();

}
==
<!-- Page Content Holder -->
<div id="content">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-danger text-white border-0 rounded-0 text-center">
            <div class="card-header border-0">
                <div class="upper">
                    <span class="upper-text">{{ lostitemcount }}</span>
                    <span class="upper-icon"><i class="fas fa-search"></i></span>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">Reported Lost</p>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary text-white border-0 rounded-0 text-center">
            <div class="card-header border-0">
                <div class="upper">
                    <span class="upper-text">{{ founditemcount }}</span>
                    <span class="upper-icon"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">Items found</p>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="{{ url('/lost-items/add')}}" style="text-decoration: none;">
            <div class="card bg-danger text-white border-0 rounded-0 text-center">
            <div class="card-body">
                <p class="card-text">
                    <i class="fas fa-plus"></i> Add Lost Item
                </p>
            </div>
            </div>
            </a>
            <a href="{{ url('/found-items/add')}}" style="text-decoration: none;">
            <div class="card bg-primary text-white border-0 rounded-0 text-center mt-12">
            <div class="card-body">
                <p class="card-text">
                    <i class="fas fa-plus"></i> Add Found Item
                </p>
            </div>
            </div>
            </a>
        </div>
    </div>
    <div class="card mt-5 rounded-0 ">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                    <div class="form-control border-0">
                    <span class="align-middle font-weight-bold">Quick Search: </span>
                    <span class="align-middle">Find Items quickly by searching here</span>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="input-group search-form">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
                </div>
            </div>
        </div>
            
    </div>
    </div>

    <div class="card mt-3 rounded-0 ">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 recent-lost">
                <h6 class="font-weight-bold mb-3">Recently Lost Items</h6>
                <!--  -->
                <ul id="list-example" class="list-group list-group-flush border ">
                    {% partial "dashboard/partialDashLostItemList" %}
                </ul>
                
                
            </div>
            <div class="col-md-6">
                <h6 class="font-weight-bold mb-3">Recently Found Items</h6>
                <ul id="list-example" class="list-group list-group-flush border ">
                    {% partial "dashboard/partialDashFoundItemList" %}
                </ul>
            </div>
        </div>
            
    </div>
    </div>
</div>


    
