title = "Category - add"
url = "/lost-items/add"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LostAndFoundCategory;
use palvlab\GuestfoneStaff\Models\SiteLocation;
use palvlab\GuestfoneStaff\Models\LostItem;
use palvlab\Hotelcms\Models\User;
use System\Models\File;


function onInit(){
    //palvlab_guestfonestaff_lost_and_found_category
    //palvlab_guestfonestaff_site_location
    //palvlab_guestfonestaff_lost_item
    
    $user                 = User::get();
    $categories           = LostAndFoundCategory::get();
    $location             = SiteLocation::get();
    
    $this['user']         = $user;
    $this['categories']   = $categories;    
    $this['location']     = $location;
    

    //var_dump($user->toArray());
    //var_dump($category->toArray());
    //var_dump($location->toArray());
    
}
function onChange() {

    $id     = input('lost_item');

    $attribute             = LostAndFoundCategory::where('id','=',$id)->get();
    $this['attribute']     = $attribute;

        
}

function onTest(){

    //var_dump( json_encode(input('LostItem') ) );

    $post = new LostItem;

    $file             = new File;
    $file->fromPost(Input::file('lost_image'));
    $file->save();
    
    $guest                       = input('guest_id');
    if( input('owner_type') == 1 ){
        $guest  = 0;
    }
    $att = [];

    foreach ( input('LostItem') as $name => $value) { 
        if(strpos($name, 'Attribute') === 0){
            $att[str_replace('Attribute', '', $name)] =  $value;       
        }     
        
    }

    $post->owner_type           =  input('owner_type');
    $post->guest_id             =  $guest;
    $post->lost_item            =  input('lost_item');
    $post->lost_location        =  input('lost_location');
    $post->lost_date            =  input('lost_date');
    $post->lost_detail          =  input('lost_detail');

    $post->lost_attributes      =  json_encode($att);

    $post->lost_name            =  input('lost_name');
    $post->lost_phone           =  input('lost_phone');
    $post->lost_email           =  input('lost_email');
    $post->lost_address         =  input('lost_address');
    
    $post->status               =  1;

    $save = $post->save();
    if (Input::hasFile('lost_image')) {
        $post->image()->add($file);
    }   

    if($save){
        return Redirect::to('/lost-items');
    }

}
==
<!-- Page Content Holder -->
<div id="content" data-parent="dashboard" data-current="lost-items">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Create Lost Item</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->

                <form data-request="onTest" data-request-files >
                <div class="row">    
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Guest Type</label>
                            <div>
                                <select class="form-control changetype" name="owner_type">
                                    <option value="0"> Resident </option>
                                    <option value="1"> Non - Resident </option>
                                </select>  
                            </div>
                        </div>
                    </div>
                    
                    <div class="html-non col-md-12 d-none">
                    <div class="row">    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <div>
                                     <input class="form-control" name="lost_name" value=""/>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Phone</label>
                                <div>
                                     <input class="form-control" name="lost_phone" value=""/>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <div>
                                     <input class="form-control" name="lost_email" value=""/>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <div>
                                     <input class="form-control" name="lost_address" value=""/>  
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>



                    <div class="col-md-6 guest">
                        <div class="form-group">
                            <label class="control-label">Guest</label>
                            <div>
                                <select class="form-control" name="guest_id">
                                {% for option in user %}       
                                <option value="{{ option.id }}">{{ option.user_user_name }} </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Item</label>
                            <div>
                                <select class="form-control" name="lost_item"
                                data-request="onChange"  
                                data-request-update="'dashboard/partialLostItemAttr': '#partialItemAttr'"
                                >   
                                <option>-</option>
                                {% for option in categories %}       
                                <option value="{{ option.id }}">{{ option.category_name }} </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Location</label>
                            <div>
                                <select class="form-control" name="lost_location">
                                {% for option in location %}       
                                <option value="{{ option.id }}">{{ option.site_location_name }} </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>
                    
                    <div id="partialItemAttr" class="col-md-12 mb-3"></div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Date Picker</label>
                            <div>
                                <input class="form-control" id="datepicker" name="lost_date" value="" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Image</label>
                            <div>
                                <div data-do="image-field" data-name="profile_image" data-width="200" data-height="200" data-alt="Change this Photo" class="image-field">   
                                <label for="upload-image">
                                <img alt="Upload a Photo" width="100" class="placeholder" src="{{ 'assets/images/default-image.png'|theme }}">  
                                <input type="file" name="lost_image" accept="image/png,image/jpg,image/jpeg,image/gif" id="upload-image" class="d-none"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group col-md-6">
                        <label class="control-label">Details</label>
                        <div>
                            <textarea class="input-block-level" id="summernote" name="lost_detail" rows="18"></textarea>
                        </div>
                    </div>

               
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


