title = "Category - add"
url = "/lost-items/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LostAndFoundCategory;
use palvlab\GuestfoneStaff\Models\SiteLocation;
use palvlab\GuestfoneStaff\Models\LostItem;
use palvlab\Hotelcms\Models\User;
use System\Models\File;


function onInit(){
    //palvlab_guestfonestaff_lost_and_found_category
    //palvlab_guestfonestaff_site_location
    //palvlab_guestfonestaff_lost_item
    
    $id                   = $this->param('id');

    $user                 = User::get();
    $categories           = LostAndFoundCategory::get();
    $location             = SiteLocation::get();
    $lostitem             = LostItem::where('id','=',$id)->get();

    $this['user']         = $user;
    $this['categories']   = $categories;    
    $this['location']     = $location;
    $this['lostitem']     = $lostitem;
    
    //var_dump($user->toArray());
    //var_dump($category->toArray());
    //var_dump($location->toArray());
    //var_dump($lostitem->toArray());

    $cat     = LostAndFoundCategory::leftJoin('palvlab_guestfonestaff_lost_item as item', 'palvlab_guestfonestaff_lost_and_found_category.id' , '=' , 'item.lost_item' )
        ->select(
            'palvlab_guestfonestaff_lost_and_found_category.category_description')
        ->where('item.id','=',$id)
        ->orderBy('palvlab_guestfonestaff_lost_and_found_category.id' , 'DESC' )
        ->get();

    $this['attribute']    = $cat;  
    
    foreach($lostitem->toArray() as $value){
        $lost   = $value['lost_attributes'];
    }
    
    //var_dump(json_decode($lost, true));

    $this['cat_desc']    = json_decode($lost, true);
}

function onChange() {

    $id     = input('lost_item');

    $attribute             = LostAndFoundCategory::where('id','=',$id)->get();
    $this['attribute']     = $attribute;

        
}
function onTest(){

    //var_dump( json_encode(input('LostItem') ) );

    $id                         = $this->param('id'); 
    
    $post                       = LostItem::where('id','=',$id)->first();
    $file                       = new File;
    $file->fromPost(Input::file('lost_image'));
    $file->save();
    
    $guest                      = input('guest_id');
    if( input('owner_type') == 1 ){
        $guest  = 0;
    }
   
    $att = [];
    foreach ( input('LostItem') as $name => $value) { 
        if(strpos($name, 'Attribute') === 0){
            $att[str_replace('Attribute', '', $name)] =  $value;       
        }     
    }

    $post->owner_type           =  input('owner_type');
    $post->guest_id             =  $guest;
    $post->lost_item            =  input('lost_item');
    $post->lost_location        =  input('lost_location');
    $post->lost_date            =  input('lost_date');
    $post->lost_detail          =  input('lost_detail');

    $post->lost_attributes      =  json_encode($att);

    $post->lost_name            =  input('lost_name');
    $post->lost_phone           =  input('lost_phone');
    $post->lost_email           =  input('lost_email');
    $post->lost_address         =  input('lost_address');
    
    $post->status               =  1;

    $save = $post->save();
    if (Input::hasFile('lost_image')) {
        $post->image()->add($file);
    }   

    if($save){
        return Redirect::to('/lost-items');
    }

}
==
<!-- Page Content Holder -->
<div id="content" data-parent="dashboard" data-current="lost-items">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit Lost Item</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->
                {% for post in lostitem %}
                <form data-request="onTest" data-request-files >
                <div class="row">    

                    
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Guest Type</label>
                            <div>
                                <select class="form-control changetype" name="owner_type">
                                    <option value="0" {% if post.owner_type == 0 %}selected{% endif %}> Resident </option>
                                    <option value="1" {% if post.owner_type == 1 %}selected{% endif %}> Non - Resident </option>
                                </select>  
                            </div>
                        </div>
                    </div>
                    
                    <div class="html-non col-md-12 {% if post.owner_type == 0 %}d-none{% endif %}">
                    <div class="row">    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <div>
                                     <input class="form-control" name="lost_name" value="{{ post.lost_name }}"/>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Phone</label>
                                <div>
                                     <input class="form-control" name="lost_phone" value="{{ post.lost_phone }}"/>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <div>
                                     <input class="form-control" name="lost_email" value="{{ post.lost_email }}"/>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <div>
                                     <input class="form-control" name="lost_address" value="{{ post.lost_address }}"/>  
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>



                    <div class="col-md-6 guest {% if post.owner_type == 1 %}d-none{% endif %}">
                        <div class="form-group">
                            <label class="control-label">Guest</label>
                            <div>
                                <select class="form-control" name="guest_id">
                                {% for option in user %}       
                                <option value="{{ option.id }}"
                                {% if option.id == post.guest_id %}selected{% endif %}
                                >{{ option.user_user_name }} 
                                </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Item</label>
                            <div>
                                <select class="form-control" name="lost_item"
                                data-request="onChange"  
                                data-request-update="'dashboard/partialLostItemAttr': '#partialItemAttr'">   
                                {% for option in categories %}       
                                <option 
                                {% if option.id == post.lost_item %}selected{% endif %}
                                value="{{ option.id }}">
                                    {{ option.category_name }} 
                                </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                           <label class="control-label">Location</label>
                            <div>
                                <select class="form-control" name="lost_location">
                                {% for option in location %}       
                                <option value="{{ option.id }}"
                                {% if option.id == post.lost_location %}selected{% endif %}
                                >
                                {{ option.site_location_name }} 
                                </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>
                    
                    <div id="partialItemAttr" class="col-md-12 mb-3">
                        {% partial "dashboard/partialLostItemAttr" lost_attributes=cat_desc %}
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Date Picker</label>
                            <div>
                                <input class="form-control" id="datepicker" name="lost_date" value="{{ post.lost_date }}" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Image</label>
                            <div>
                                <div data-do="image-field" data-name="profile_image" data-width="200" data-height="200" data-alt="Change this Photo" class="image-field">   
                                <label for="upload-image">
                                <img alt="Upload a Photo" width="100" class="placeholder" src="{{ post.image.path ? post.image.path : 'assets/images/default-image.png'|theme }}">  
                                <input type="file" name="lost_image" accept="image/png,image/jpg,image/jpeg,image/gif" id="upload-image" class="d-none"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group col-md-6">
                        <label class="control-label">Details</label>
                        <div>
                            <textarea class="input-block-level" id="summernote" name="lost_detail" rows="18">{{ post.lost_detail }}</textarea>
                        </div>
                    </div>

               


     
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>


