title = "Category"
url = "/lost-items"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LostItem;
use palvlab\GuestfoneStaff\Models\LostAndFoundCategory;

function onInit(){
    //palvlab_guestfonestaff_lost_item
    //palvlab_guestfonestaff_lost_and_found_category

    $lostitem = LostItem::leftJoin('palvlab_guestfonestaff_lost_and_found_category as cat', 'lost_item' , '=' , 'cat.id')
    ->select(
            'cat.category_name' , 
            'palvlab_guestfonestaff_lost_item.id',                    
            'palvlab_guestfonestaff_lost_item.lost_date',        
            'palvlab_guestfonestaff_lost_item.lost_detail')
    ->orderBy('palvlab_guestfonestaff_lost_item.id' , 'DESC' )
    ->get();

    $this['lostitem']       = $lostitem;
    $this['count']          = $lostitem->count();
    
    //var_dump($lostitem->toArray());
}

function onDelete(){

    $id = input('id');

    $post = LostItem::where('id','=',$id);
    $post->delete();

    $lostitem = LostItem::leftJoin('palvlab_guestfonestaff_lost_and_found_category as cat', 'lost_item' , '=' , 'cat.id')
    ->select(
            'cat.category_name' , 
            'palvlab_guestfonestaff_lost_item.id',                    
            'palvlab_guestfonestaff_lost_item.lost_date',        
            'palvlab_guestfonestaff_lost_item.lost_detail')
    ->orderBy('palvlab_guestfonestaff_lost_item.id' , 'DESC' )
    ->get();

    $this['lostitem']      = $lostitem;
    $this['count']         = $lostitem->count();

}


==
<!-- Page Content Holder -->
<div id="content" data-parent="dashboard" data-current="lost-items">
    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Lost Items</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group search-form">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                       <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/lost-items/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> Create New Lost Item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mt-4">
            <div class="pt-4 pb-4">
                <div class="table-responsive">
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Category	</th>
                    <th scope="col">Date Lost	</th>
                    <th scope="col">Image	</th>
                    <th scope="col">Details	</th>
                    <th scope="col">Action	</th>                                  
                    </tr>
                </thead>
                <tbody id="partialTable">
                    {% partial "dashboard/partialLostItem" %}
                </tbody>
                </table>
                </div>         
            </div>
        </div>
    </div>
</div>