title = "Category - add"
url = "/general-settings/add"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LostAndFoundCategory;

function onInit(){
    //palvlab_guestfonestaff_lost_and_found_category

    $categories           = LostAndFoundCategory::get();
    $this['categories']  = $categories;

    //var_dump($category->toArray());

}

function onTest(){

  //var_dump( input() );
    
  $post = new LostAndFoundCategory;


  $post->category_name          =  input('category_name');
  $cat_type                     = 0;
  $parent                       = 0;

  if( input('category_parent') ){
    $cat_type                   = 1;
    $parent                     =  input('category_parent');
  }
  $post->category_parent          =  $parent;  
  $post->category_type          =  $cat_type;
  $post->category_description   =  input('LostAndFoundCategory')['category_description'];
  $post->status             =  1;

  $save = $post->save();
  if($save){
    return Redirect::to('/general-settings');
  }

}
==
<!-- Page Content Holder -->
<div id="content" data-parent="dashboard" data-current="general-settings">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Create Category</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->

                <form data-request="onTest" data-request-files >
                <div class="row">    

                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Name </label>
                        <div>
                            <input name="category_name" value="" placeholder="johndoe" type="text" class="form-control">
                        </div>
                    </div>

                    
                    
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Parent</label>
                            <div>
                                <select class="form-control" name="room_type_id">
                                <option> - </option>
                                {% for option in categories %}       
                                <option value="{{ option.id }}">{{ option.category_name }} </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <div id="btnAttr" class="form-group ">
                                {% partial "dashboard/partialCatBtn" %}
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-md-9">
                        <div class="form-group">
                           <div class="html"></div>
                        </div>
                    </div>


     
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


