title = "Category"
url = "/general-settings"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LostAndFoundCategory;

function onInit(){
    $categories      = LostAndFoundCategory::get();

    $this['categories']      = $categories;
    $this['count']      = $categories->count();
    
   //var_dump($category->toArray());
}

function onDelete(){

    $id = input('id');

    $post = LostAndFoundCategory::where('id','=',$id);
    $post->delete();

    $categories      = LostAndFoundCategory::get();

    $this['categories']      = $categories;
    $this['count']      = $categories->count();

}


==
<!-- Page Content Holder -->
<div id="content" data-parent="dashboard" data-current="general-settings">
    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Categories</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group search-form">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                       <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/general-settings/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> Create New Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mt-4">
            <div class="pt-4 pb-4">
                <div class="table-responsive">
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Category	</th>
                    <th scope="col">Parent	</th>
                    <th scope="col">Action	</th>                                  
                    </tr>
                </thead>
                <tbody id="partialTable">
                    {% partial "dashboard/partialCategory" %}
                </tbody>
                </table>
                </div>         
            </div>
        </div>
    </div>
</div>