title = "Category - add"
url = "/general-settings/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LostAndFoundCategory;

function onInit(){
    //palvlab_guestfonestaff_lost_and_found_category
    $id                     = $this->param('id');

    $category               = LostAndFoundCategory::where('id','=',$id)->get();
    $categories             = LostAndFoundCategory::get();

    $this['category']       = $category;
    $this['categories']     = $categories;
    

    //var_dump($category->toArray());
    foreach( $category as $index){
       $this['count'] = count($index->category_description) + 1;
    }
    
}

function onTest(){

  //var_dump( input() );
  $id                     = $this->param('id'); 
  $post = LostAndFoundCategory::where('id','=',$id)->first();


  $post->category_name          =  input('category_name');
  $cat_type                     = 0;
  $parent                       = 0;

  if( input('category_parent') ){
    $cat_type                   = 1;
    $parent                     =  input('category_parent');
  }
  $post->category_parent          =  $parent;  
  $post->category_type          =  $cat_type;
  $post->category_description   =  input('LostAndFoundCategory')['category_description'];
  $post->status             =  1;

  $save = $post->save();
  if($save){
    return Redirect::to('/general-settings');
  }

}
==
<!-- Page Content Holder -->
<div id="content" data-parent="dashboard" data-current="general-settings">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit Category</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->
                {% for post in category %}
                <form data-request="onTest" data-request-files >
                <div class="row">    

                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Name </label>
                        <div>
                            <input name="category_name" value="{{ post.category_name }}" placeholder="johndoe" type="text" class="form-control">
                        </div>
                    </div>

                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Parent</label>
                            <div>
                                <select class="form-control" name="category_parent">
                                <option> - </option>
                                {% for option in categories %}     
                                
                                {% if option.id != post.id %}
                                    <option value="{{ option.id }}"  {% if option.id == post.category_parent %}selected{% endif %}>
                                        {{ option.category_name }} 
                                    </option>
                                {% endif %}
   
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div id="btnAttr" class="form-group ">
                            {% partial "dashboard/partialCatBtn" %}
                        </div>
                    </div>

                    
                    <div class="col-md-9">
                        <div class="form-group">
                           <div class="html">
                                {% for key , attr in post.category_description %}   
                                    <div class="card mb-2">
                                        <span class="remove-attr">
                                        <i class="fas fa-times-circle"></i>
                                        </span>
                                        <div class="card-body">
                                        <div class="input-group mb-3 parent"> 
                                            <input type="text" class="form-control" placeholder="Attribute name" value="{{ attr.attribute_name  }}"
                                            name="LostAndFoundCategory[category_description][{{ loop.index }}][attribute_name]">
                                            <div class="input-group-prepend">
                                            <button 
                                                type="button" 
                                                class="input-group-text onItemAppend" 
                                                id="basic-addon1" 
                                                data-parent="{{ loop.index  }}" 
                                                data-index="{{ attr.attribute|length + 1 }} "
                                                <i class="fas fa-plus"></i> 
                                            Add item </button>
                                            </div>
                                        </div>
                                        <div class="row">    
                                            {% for list in attr.attribute %}    
                                                <div class="col-md-6 mb-2">
                                                    <span class="remove-attr"><i class="fas fa-times-circle"></i></span>
                                                    <input type="text" class="form-control" placeholder="Attribute list" value="{{ list.attribute_list }}"
                                                     name="LostAndFoundCategory[category_description][{{ key }}][attribute][{{ loop.index }}][attribute_list]">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        </div>
                                    </div>
                                {% endfor %}
                           </div>
                        </div>  
                    </div>


     
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


