title = "Minibar - add"
url = "/minibar/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\MinibarItems;
use palvlab\GuestfoneStaff\Models\MinibarTypes;

use System\Models\File;

function onInit(){
    $id                 = $this->param('id');

    $minibar            = MinibarItems::where('id','=',$id)->get();
    $type               = MinibarTypes::get();


    $item     = DB::table('palvlab_guestfonestaff_minibar_items_types')
        ->select(
            'id', 
            'minibar_type_id',
            'minibar_item_id')
        ->where('minibar_item_id','=',$id)
        ->get();

        
    $this['minibar']    = $minibar;
    $this['types']      = $type;
    $this['item']      = $item;
    
    //var_dump($type->toArray());
    //var_dump($item);

    
}

function onTest(){

    $id                 = $this->param('id');

    $post = MinibarItems::where('id','=',$id)->first();

    $file             = new File;
    $file->fromPost(Input::file('upload_image'));
    $file->save();
    
    if (Input::hasFile('upload_image')) {
        $post->image()->add($file);
    }

    $post->name             =  input('name');
    $post->description      =  input('description');
    $post->actual_cost      =  input('actual_cost');
    $post->selling_price    =  input('selling_price');
    $post->minibar_type_id  =  input('minibar_type_id');

    $post->status           =  1;
    
    $save = $post->save();
    if (Input::hasFile('upload_image')) {
        $post->image()->add($file);
    }   
    DB::table('palvlab_guestfonestaff_minibar_items_types')
        ->where('minibar_item_id', '=', $id)->delete();

    foreach(input('minibar_type_id') as $value ){
        DB::table('palvlab_guestfonestaff_minibar_items_types')->insert([
            'minibar_type_id'   => $value, 
            'minibar_item_id'   => $id
        ]);
    }

    if($save){
      return Redirect::to('/minibar');
    }
   // var_dump(input('minibar_type_id'));

}
==
<!-- Page Content Holder -->
<div id="content" data-parent="minibar" data-current="minibar">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit Item</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->
                {% for post in minibar %}
                <form data-request="onTest" data-request-files >
                <div class="row">    
                    <div class="form-group col-md-12">
                        <label class="control-label">Image</label>
                        <div>
                            <div data-do="image-field" data-name="profile_image" data-width="200" data-height="200" data-alt="Change this Photo" class="image-field">   
                            <label for="upload-image">
                            <img alt="Upload a Photo" width="100" class="placeholder" src="{{ post.image.path ? post.image.path : 'assets/images/default-image.png'|theme }}">  
                            <input type="file" name="upload_image" accept="image/png,image/jpg,image/jpeg,image/gif" id="upload-image" class="d-none"></div>
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group ">
                            <label class="control-label">Name </label>
                            <div>
                                <input name="name" value="{{ post.name }}" placeholder="johndoe" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <div>
                                <textarea class="input-block-level" id="summernote" name="description" rows="18">{{ post.description }}</textarea>
                            </div>
                         </div>

                        
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group ">
                            <label class="control-label">Actual Cost </label>
                            <div>
                                <input name="actual_cost" value="{{ post.actual_cost }}" placeholder="123" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label">Selling Price </label>
                            <div>
                                <input name="selling_price" value="{{ post.selling_price }}" placeholder="123" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Room Type</label>
                            <div>
                                <select class="js-example-basic-multiple form-control" name="minibar_type_id[]" multiple="multiple" style="width: 100%">
                                {% for option in types %}       
                                <option value="{{ option.id }}" 
                                {% for select in item %}
                                {% if select.minibar_type_id == option.id  %}selected{% endif %}
                                {% endfor %}
                                >
                                {{ option.name }}
                                </option>
                                {% endfor %}
                                </select>
                                

                            </div>
                        </div>
                    </div>
                
                    
              
                
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


