title = "Minibar - add"
url = "/minibar-types/add"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\MinibarTypes;
use palvlab\HotelDevice\Models\Room;
use System\Models\File;

function onInit(){
    //palvlab_hoteldevice_rooms
    //palvlab_guestfonestaff_minibar_types
    //palvlab_guestfonestaff_minibar_items_types
    //palvlab_guestfonestaff_minibar_types_rooms

    $rooms          = Room::get();
    $this['rooms']  = $rooms;

    //var_dump($rooms->toArray());
    
}

function onTest(){

    $post = new MinibarTypes;

    $file             = new File;
    $file->fromPost(Input::file('upload_image'));
    $file->save();
    
    if (Input::hasFile('upload_image')) {
        $post->image()->add($file);
    }

    $post->name             =  input('name');
    $post->description      =  input('description');
    $post->status           =  1;
    $save   = $post->save();

    if (Input::hasFile('upload_image')) {
        $post->image()->add($file);
    }  

    $id = $post->id;

    foreach(input('minibar_type_id') as $value ){
        DB::table('palvlab_guestfonestaff_minibar_types_rooms')->insert([
            'room_id'           => $value, 
            'minibar_types_id'  => $id
        ]);
    }  

    if($save){
      return Redirect::to('/minibar-types');
    }

    //var_dump($id);

}
==
<!-- Page Content Holder -->
<div id="content" data-parent="minibar" data-current="minibar-types">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Create Type</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->

                <form data-request="onTest" data-request-files >
                <div class="row">    

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group ">
                            <label class="control-label">Name </label>
                            <div>
                                <input name="name" value="" placeholder="johndoe" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <div>
                                <textarea class="input-block-level" id="summernote" name="description" rows="18"></textarea>
                            </div>
                         </div>

                        
                    </div>

                    <div class="col-md-6 col-sm-6">
   
                        <div class="form-group">
                            <label class="control-label">Select Room Type</label>
                            <div>
                                <select class="js-example-basic-multiple form-control" name="minibar_type_id[]" multiple="multiple" style="width: 100%">
                                {% for option in rooms %}       
                                <option value="{{ option.id }}">{{ option.rooms_no }}</option>
                                {% endfor %}
                                </select>
                                      
                            </div>
                        </div>
                    </div>
                
                    
              
                
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


