title = "Minibar"
url = "/minibar-types"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\MinibarItems;
use palvlab\GuestfoneStaff\Models\MinibarTypes;


function onInit(){
    //palvlab_guestfonestaff_minibar_items
    //palvlab_guestfonestaff_minibar_types

    $type      = MinibarTypes::get();

    $this['type']    = $type;
    $this['count']      = $type->count();
    
   //var_dump($type->toArray());
}

function onDelete(){

    $id = input('id');

    $post = MinibarTypes::where('id','=' , $id)->first();
    $post->delete();

    $type      = MinibarTypes::get();

    $this['type']    = $type;
    $this['count']   = $type->count();

}


==
<!-- Page Content Holder -->
<div id="content">
    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Types</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group search-form">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                       <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/minibar-types/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> New Minibar Types</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mt-4">
            <div class="pt-4 pb-4">
                    <div class="table-responsive1">
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th >Name	</th>
                        <th >Action	</th>                                  
                        </tr>
                    </thead>
                    <tbody id="partialTable">
                        {% partial "minibar/partialType" %}
                    </tbody>
                    </table>
                    </div>
                            
            </div>
        </div>
    </div>
</div>