{% for post in user %}
<tr>
    <td><img src="{{ post.image.path ? post.image.path : 'assets/images/default-image.png'|theme }}" width="52"></td>
    <!-- <td>{{ post.image.path }}</td> -->
    <td>{{ post.first_name }} {{ post.last_name }}</td>
    <td>{{ post.email }}</td>
    <td>{{ post.phone_number }}</td>
    <td>{{ post.department_name }}</td>
    <td>{{ post.job_title }}</td>
    <td>
        <a href="{{ url('/user/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
        data-request="onDelete"  
        data-request-data="id: {{ post.id }}"  
        data-request-update="'user/partialUser': '#partialTable' , 'partialCount' : '#count'"
        class="text-danger"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}