{% for post in department %}
<tr>
    <th scope="row">{{ post.department_name }}</th>
    <td>
        <a href="{{ url('/department/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
        data-request="onDelete"  
        data-request-data="id: {{ post.id }}"  
        data-request-update="'user/partialDepartment': '#partialTable' , 'partialCount' : '#count'"
        class="text-danger"><i class="fas fa-trash"></i></a>
    </td>
</tr>

{% endfor %}