{% for post in job %}
<tr>
    <th scope="row">{{ post.job_title }}</th>
    <th scope="row">{{ post.department_name }}</th>
    
    <td>
        <a href="{{ url('/jobs/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
        data-request="onDelete"  
        data-request-data="id: {{ post.id }}"  
        data-request-update="'user/partialJob': '#partialTable' , 'partialCount' : '#count'"
        class="text-danger"><i class="fas fa-trash"></i></a>
    </td>
</tr>

{% endfor %}