{% for post in legend %}
<tr>
    <th scope="row">{{ post.legend_code }}</th>
    <th scope="row">{{ post.legend_long_name }}</th>
    
    <td>
        <a href="{{ url('/legend/edit', post.id) }}" class="text-primary"><i class="far fa-edit"></i></a>
        <a 
        data-request="onDelete"  
        data-request-data="id: {{ post.id }}"  
        data-request-update="'user/partialLegend': '#partialTable' , 'partialCount' : '#count'"
        class="text-danger"><i class="fas fa-trash"></i></a>
    </td>
</tr>

{% endfor %}