/*
This not good practice,please replace this code - Comment by Priyanjith
*/

title = "Login"
description = "authenticate"
url = "/"


==
use palvlab\GuestfoneStaff\Models\User;

function onStart(){

if (Session::has('currentUser')) {
//$value = Session::get('currentUser');
return Redirect::to('/dashboard');
}

}

/*
This not good practice,please replace this code - Comment by Priyanjith
*/
function onTest(){
    $user = User::where('username', input('username'))->first();

    if(isset($user) && \Hash::check(input('password'), $user->password)){
        Session::put('currentUser', $user->toArray() );
        return Redirect::to('/dashboard');
    }

}
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author  " content="Palvision">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Palvision">
    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">

    <link href="{{ 'assets'|theme }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ 'assets'|theme }}/css/auth.css" rel="stylesheet">
    {% styles %}
</head>
<body>
<!-- Content -->
<div class="lowin">
    <div class="lowin-brand">
        <img src="{{ 'assets'|theme }}/images/kodinger.jpg" alt="logo">
    </div>
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form data-request="onTest">
                    <p>Sign in to continue</p>
                    <div class="lowin-group">
                        <label>Username <a href="#" class="login-back-link">Sign in?</a></label>
                        <input type="text"  name="username" class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>Password </label>
                         <!-- <a href="#" class="forgot-link">Forgot Password?</a> -->
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button type="submit" class="lowin-btn login-btn">Sign In</button>
                </form>
            </div>
        </div>

        
    </div>
</div>

 <!-- <script src="{{ 'assets'|theme }}/js/auth.js"></script> -->
 <script src="{{ 'assets'|theme }}/vendor/jquery/jquery.min.js"></script>

 {% framework extras %}
 {% scripts %}

</body>
</html>


