title = "Users - add"
url = "/linen/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LinenItem as Linen;
use palvlab\Hotelcms\Models\RoomType;
use System\Models\File;

function onInit(){
    $type           = RoomType::get();
    $this['types']  = $type;

    //var_dump($type->toArray());
    $id                 = $this->param('id');
    $posts              = Linen::where('id', '=',$id)->get();
    $this['linen']       = $posts;
}

function onTest(){

    $id                 = $this->param('id');
    $post               = Linen::where('id', '=', $id)->first();

    $file             = new File;
    $file->fromPost(Input::file('profile_image'));
    $file->save();
 
    
    $post->linen_name         =  input('linen_name');
    $post->linen_price        =  input('linen_price');
    $post->room_type_id       =  input('room_type_id');
    $post->quantity           =  input('quantity');
    $post->status             =  1;
    
    $save = $post->save();
    if (Input::hasFile('profile_image')) {
        $post->image()->add($file);
    } 

    if($save){
      return Redirect::to('/linen');
    }
    

}
==
<!-- Page Content Holder -->
<div id="content" data-parent="linen" data-current="linen">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit Item</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->
                {% for post in linen %}
                <form data-request="onTest" data-request-files >
                <div class="row">    
                    <div class="form-group col-md-12">
                        <label class="control-label">Image</label>
                        <div>
                            <div data-do="image-field" data-name="profile_image" data-width="200" data-height="200" data-alt="Change this Photo" class="image-field">   
                            <label for="upload-image">
                            <img alt="Upload a Photo" width="100" class="placeholder" src="{{ post.image.path ? post.image.path : 'assets/images/default-image.png'|theme }}">  
                            <input type="file" name="profile_image" accept="image/png,image/jpg,image/jpeg,image/gif" id="upload-image" class="d-none"></div>
                            </label>
                        </div>
                    </div>
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Name </label>
                        <div>
                            <input name="linen_name" value="{{ post.linen_name }}" placeholder="johndoe" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Price </label>
                        <div>
                            <input name="linen_price" value="{{ post.linen_price }}" placeholder="123" type="text" class="form-control">
                        </div>
                    </div>
                
                    
                    
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Room Type</label>
                            <div>
                                <select class="form-control" name="room_type_id">
                                {% for option in types %}       
                                <option value="{{ option.id }}"  {% if option.id == post.room_type_id %}selected{% endif %}>
                                    {{ option.room_type_name }} - {{ option.room_type_name2 }}
                                </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>
     
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Quantity </label>
                        <div>
                            <input name="quantity" value="{{ post.quantity }}" placeholder="123" type="text" class="form-control">  
                        </div>
                    </div>
                
                
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


