title = "Linen"
url = "/linen"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LinenItem as Linen;
use palvlab\GuestfoneStaff\Models\LinenUsage as Usage;


function onInit(){
    $linen      = Linen::get();

    $this['linen']      = $linen;
    $this['count']      = $linen->count();
    
   // var_dump($linen->toArray());
}

function onDelete(){

    $id = input('id');

    $user = Linen::find($id);
    $user->delete();

    $linen      = Linen::get();

    $this['linen']       = $linen;
    $this['count']      = $linen->count();

}


==
<!-- Page Content Holder -->
<div id="content">
    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Items</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group search-form">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                       <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/linen/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> New Linen Item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mt-4">
            <div class="pt-4 pb-4">
                    <div class="table-responsive">
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Image	</th>
                        <th scope="col">Name	</th>
                        <th scope="col">Price	</th>
                        <th scope="col">Action	</th>                                  
                        </tr>
                    </thead>
                    <tbody id="partialTable">
                        {% partial "linen/partialItem" %}
                    </tbody>
                    </table>
                    </div>
                            
            </div>
        </div>
    </div>
</div>