title = "Linen"
url = "/consumed"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LinenItem as Linen;
use palvlab\GuestfoneStaff\Models\LinenUsage as Usage;

use palvlab\Hotelcms\Models\RoomType;
use palvlab\GuestfoneStaff\Models\User;
use palvlab\GuestfoneStaff\Models\GuestRooms;

function onInit(){
    //palvlab_guestfonestaff_room_types
    //palvlab_guestfonestaff_user
    //palvlab_guestfonestaff_guestrooms
    //palvlab_guestfonestaff_linen_usage

    //$usage      = Usage::get();

    $usage      = Usage::leftJoin('palvlab_guestfonestaff_guestrooms as room', 'room_no' , '=' , 'room.id')
        ->leftJoin('palvlab_guestfonestaff_user as user', 'user_id' , '=' , 'user.id')
        ->select(        
            'palvlab_guestfonestaff_linen_usage.id',            
            'palvlab_guestfonestaff_linen_usage.linen_bundle',            
            'room.room_number',
            'user.first_name',
            'user.last_name')
        ->orderBy('palvlab_guestfonestaff_linen_usage.id' , 'DESC' )
        ->get();

    $this['usage']      = $usage;
    $this['count']      = $usage->count();
    
   //var_dump($usage->toArray());

}

function onDelete(){

    $id = input('id');

    $user = Usage::where('id','=' , $id);
    $user->delete();

    $usage      = Usage::leftJoin('palvlab_guestfonestaff_guestrooms as room', 'room_no' , '=' , 'room.id')
        ->leftJoin('palvlab_guestfonestaff_user as user', 'user_id' , '=' , 'user.id')
        ->select(
            'palvlab_guestfonestaff_linen_usage.id',            
            'palvlab_guestfonestaff_linen_usage.linen_bundle',            
            'room.room_number',
            'user.first_name',
            'user.last_name')
        ->orderBy('palvlab_guestfonestaff_linen_usage.id' , 'DESC' )
        ->get();


    $this['usage']      = $usage;
    $this['count']      = $usage->count();

}


==
<!-- Page Content Holder -->
<div id="content">
    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3"><span id="count">{% partial "partialCount" %}</span> Linen Usages</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group search-form">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                       <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#" class="rounded-0 btn btn-primary">Active</a>
                            <a href="#" class="rounded-0 btn btn-danger">Inactive</a>
                            <a href="{{ url('/consumed/add')}}" class="rounded-0 btn btn-success ml-2"><i class="fas fa-plus"></i> Create Linen Usage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0 mt-4">
            <div class="pt-4 pb-4">
                    <div class="table-responsive">
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Housekeeper	</th>
                        <th scope="col">Room	</th>
                        <th scope="col">Linen Bundle	</th>
                        <th scope="col">Action	</th>                                  
                        </tr>
                    </thead>
                    <tbody id="partialTable">
                        {% partial "linen/partialUsage" %}
                    </tbody>
                    </table>
                    </div>
                            
            </div>
        </div>
    </div>
</div>