title = "Users - add"
url = "/consumed/edit/:id"
layout = "default"
==
use palvlab\GuestfoneStaff\Models\LinenItem as Linen;
use palvlab\GuestfoneStaff\Models\LinenUsage as Usage;
use palvlab\Hotelcms\Models\RoomType;
use palvlab\GuestfoneStaff\Models\GuestRooms;
use palvlab\GuestfoneStaff\Models\User;
use System\Models\File;

use Palvlab\GuestFoneStaff\Controllers\API\LoginController;

function onInit(){
    $id                 = $this->param('id');

    $user           = User::get();
    $type           = GuestRooms::get();
   // $usage          = Usage::where('palvlab_guestfonestaff_linen_usage.id','=' , $id)->get();

   $usage      = Usage::leftJoin('palvlab_guestfonestaff_guestrooms as room', 'room_no' , '=' , 'room.id')
        ->leftJoin('palvlab_guestfonestaff_user as user', 'user_id' , '=' , 'user.id')
        ->select(
            'palvlab_guestfonestaff_linen_usage.id',            
            'palvlab_guestfonestaff_linen_usage.room_no',            
            'palvlab_guestfonestaff_linen_usage.linen_bundle', 
            'palvlab_guestfonestaff_linen_usage.type_id',  
            'palvlab_guestfonestaff_linen_usage.user_id',            
            'palvlab_guestfonestaff_linen_usage.dirty',            
            'palvlab_guestfonestaff_linen_usage.damage')
        ->orderBy('palvlab_guestfonestaff_linen_usage.id' , 'DESC' )
        ->where('palvlab_guestfonestaff_linen_usage.id','=' , $id)
        ->get();

    $this['usage']  = $usage;
    $this['user']   = $user;
    $this['types']  = $type;
    
    //var_dump(json_encode($usage->toArray()));
    foreach ( $usage as $value){
        $dirty  = $value->dirty;
        $damage = $value->damage;  
    }
    $_temp = [];
    foreach($dirty as $key => $d){
        $_temp[] = [
            'linen_name'    => $d['linen_item'],
            'quantity'      => $d['quantity'],
            'amount'        => $damage[$key]['amount']
        ];
    }
    //var_dump($_temp);
    $this['item'] = $_temp;
    
}


function onTest(){
    $id                     = $this->param('id');
    $post                   = Usage::where('id','=' , $id)->first();
    $post->user_id          =  input('user_id');
    $post->room_no          =  input('room_no');
    $post->linen_bundle     =  input('linen_bundle');
    $post->type_id          =  input('bundle_id');    
    $post->dirty            =  input('LinenUsage')['dirty'];
    $post->damage           =  input('LinenUsage')['damage'];
    $post->status           =  1;
    $save = $post->save();
     
    if($save){
        return Redirect::to('/consumed');
    }
    //$usage = input('LinenUsage');

   // var_dump(json_encode($usage['dirty']));
}


function onChange(){
    //palvlab_hotelcms_room_type
    //palvlab_guestfonestaff_guestrooms
    //palvlab_guestfonestaff_linen_item

    $id     = input('room_no');

    $room   = GuestRooms::leftJoin('palvlab_hotelcms_room_type as type' , 'type_id' ,'=' , 'type.id')
        ->select(
            'type.id',            
            'type.room_type_name')
        ->where('palvlab_guestfonestaff_guestrooms.id' , '=' ,  $id)
        ->orderBy('palvlab_guestfonestaff_guestrooms.id' , 'DESC' )
        ->get();

    $item        = array();
    $bundle      = '';
    $bundle_id   = '';
    

    foreach ( $room as $value ){ 
        $bundle_id  = $value->id;
        $bundle     = $value->room_type_name;    
    }

    $linen = Linen::where('room_type_id' , '=' , $bundle_id)->get();

    foreach ( $linen as $list ){ 
        $item[] = array(
            'linen_name' => $list->linen_name,
            'quantity'   => $list->quantity,
        );   
    }

    $this['item']       = $item;
    $this['bundle_id']  = $bundle_id;
    $this['bundle']     = $bundle;
    

}
==
<!-- Page Content Holder -->
<div id="content" data-parent="linen" data-current="consumed">

    <div class="tab-content" id="myTabContent">
        <h3 class="mt-3 mb-3">Edit Usage</h3>
        <div class="card rounded-0 mt-4">
            <div class="card-body">
                <!-- Result container -->
                {% for post in usage %}
                <form data-request="onTest" data-request-files >
                <div class="row">    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Housekeeper</label>
                            <div>
                                <select class="form-control" name="user_id">
                                {% for option in user %}       
                                <option value="{{ option.id }}" {% if option.id == post.user_id %}selected{% endif %}> 
                                    {{ option.first_name }} {{ option.last_name }}
                                </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Room</label>
                            <div>
                                <select class="form-control roomchange" name="room_no"   
                                data-request="onChange" 
                                data-request-update="'linen/partialInput': '#partialInput' , 'linen/partialUsageItem' : '#partialTable'">
                                <option>-</option>
                                {% for option in types %}       
                                <option value="{{ option.id }}"  {% if option.id == post.room_no %}selected{% endif %}> 
                                    {{ option.room_number }}
                                </option>
                                {% endfor %}
                                </select>  
                            </div>
                        </div>
                    </div>
     
                
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label">Linen Bundle </label>
                        <div id="partialInput">
                            {% partial "linen/partialInput" bundle=post.linen_bundle bundle_id=post.type_id %}
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th class="w-50" scope="col"></th>
                            <th class="w-25"scope="col">Dirty	</th>
                            <th class="w-25" scope="col">Damaged	</th>                               
                            </tr>
                        </thead>
                        <tbody id="partialTable">
                            {% partial "linen/partialUsageItem"  %}
                        </tbody>
                        </table>
                    </div>
                
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="csrf" value="">
                        <button type="submit" class="btn btn-success btn-block submit-btn" >Submit </button>
                    </div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- 
<script>
    function handle(obj) {
        $.request('onChange', {
            data: { id : obj }, 
            dataType: 'json',
            success: function(response) {
                $('input[name="linen_bundle"]').val(response.bundle);
                this.success(response.data); 
                console.log(response);
            },  
            update: { 'linen/partialItem': '#partialTable'}
        });
    }
    
</script> -->